<div class="d-flex align-items-center justify-content-between gap-3">
    <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-0">My Entries</h4>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>

</div>



<div class="ct_mt_30">
    <div>
        <ul>
            <li>
                <div class="d-flex align-items-center gap-3 ct_white_bg">
                    <div>
                        <img src="assets/img/entries__1.png" alt="">
                    </div>
                    <div>
                        <h5 class="ct_fs_16 mb-1 ct_fw_600 ct_bringle_text">Storytelling Reels Contest</h5>
                        <p class="mb-0 ct_fs_14" aria-colspan="ct_text_4B5563">Entered on 12 Jun </p>
                        <p class="mb-0 ct_text_555 ct_fw_600 mt-1"><i>Result: <span style="color: #83830C;"> 12 Jul
                                    2025</span></i></p>
                    </div>
                </div>
            </li>
            <li class="mt-3">
                <div class="d-flex align-items-center gap-3 ct_white_bg">
                    <div>
                        <img src="assets/img/entries__1.png" alt="">
                    </div>
                    <div>
                        <h5 class="ct_fs_16 mb-1 ct_fw_600 ct_bringle_text">Creative Cooking Challenge</h5>
                        <p class="mb-0 ct_fs_14" aria-colspan="ct_text_4B5563">Entered on 12 Jun </p>
                        <p class="mb-0 ct_text_555 ct_fw_600 mt-1"><i>Result: <span style="color: #1976D2;"> To be
                                    announced</span></i></p>
                    </div>
                </div>
            </li>
            <li class="mt-3">
                <div class="d-flex align-items-center gap-3 ct_white_bg">
                    <div>
                        <img src="assets/img/entries__1.png" alt="">
                    </div>
                    <div>
                        <h5 class="ct_fs_16 mb-1 ct_fw_600 ct_bringle_text">Digital Art Sprint</h5>
                        <p class="mb-0 ct_fs_14" aria-colspan="ct_text_4B5563">Entered on 12 Jun </p>
                        <p class="mb-0 ct_text_555 ct_fw_600 mt-1"><i>Result: <span style="color: #008000;"> 🎉 You
                                    Won!</span></i></p>
                    </div>
                </div>
            </li>


        </ul>
    </div>
</div>