<div class="ct_right_content_main">
    <div class="container-fluid">
        <div class="row">
            <app-header></app-header>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_575">
                    <h4 class="ct_fs_32 ct_fw_600 ct_bringle_text mb-0">Wellness</h4>
                    <div class="ct_search position-relative ct_w_100_575" style="flex: none; width: 300px;">
                        <input type="text" class="form-control ct_input ct_input_ps_40 ct_h_50 ct_border_radius_40"
                            placeholder="Search">
                        <i class="fa-solid fa-search ct_input_icon_left"></i>
                    </div>
                </div>
            </div>

        </div>


        <div class="row ct_mt_30">
            <div class="col-md-12">
                <div class="ct_kitty_group_img ct_stor_banner_card">
                    <img src="/img/wellness_bg.png" alt="">

                </div>

            </div>

            <div class="col-md-12 ct_mt_55 pt-4">
                <div class="d-flex align-items-center gap-3 justify-content-between">
                    <h4 class="mb-0 ct_fs_26 ct_fw_600">Read <span class="ct_bringle_text">the Latest </span> Tips</h4>
                    <a routerLink="/main/articles" class="ct_bringle_text ct_fw_600">View All <i
                            class="fa-solid fa-angle-right"></i> </a>
                </div>

                <div class="row ct_mt_30">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <figure class="ct_article_card mb-0">
                            <img src="/img/article_img_1.jpg" alt="">
                            <figcaption>
                                <a routerLink="/main/view-article">
                                    <h4 class="ct_fs_18 mb-1">Evening Mindfulness Rituals for Better Sleep</h4>
                                </a>
                                <h6 class="ct_text_374151 ct_fs_14 mb-0">Lifestyle & wellness</h6>
                            </figcaption>
                        </figure>

                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <figure class="ct_article_card mb-0">
                            <img src="/img/ct_article_card_2.jpg" alt="">
                            <figcaption>
                                <a routerLink="/main/view-article">
                                    <h4 class="ct_fs_18 mb-1">Evening Mindfulness Rituals for Better Sleep</h4>
                                </a>
                                <h6 class="ct_text_374151 ct_fs_14 mb-0">Lifestyle & wellness</h6>
                            </figcaption>
                        </figure>

                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <figure class="ct_article_card mb-0">
                            <img src="/img/ct_article_card_3.jpg" alt="">
                            <figcaption>
                                <a routerLink="/main/view-article">
                                    <h4 class="ct_fs_18 mb-1">Evening Mindfulness Rituals for Better Sleep</h4>
                                </a>
                                <h6 class="ct_text_374151 ct_fs_14 mb-0">Lifestyle & wellness</h6>
                            </figcaption>
                        </figure>
                    </div>


                </div>

            </div>

        </div>


        <div class="row ">


            <div class="col-md-12 ct_mt_55">
                <div class="d-flex align-items-center gap-3 justify-content-between">
                    <h4 class="mb-0 ct_fs_26 ct_fw_600">On-Demand <span class="ct_bringle_text">Healing Talks </span>
                    </h4>
                    <a routerLink="/main/sessions" class="ct_bringle_text ct_fw_600">View All <i
                            class="fa-solid fa-angle-right"></i> </a>
                </div>

                <div class="row ct_mt_30">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <figure class="ct_article_card  mb-0">
                            <div
                                class="position-relative ct_overlay_bg_black_44 ct_overlay_bg_black_44_after_radius_10">
                                <img src="/img/video_img_23.jpg" alt="">
                                <div class="ct_center_play_icon" data-bs-toggle="modal"
                                    data-bs-target="#ct_video_modal">
                                    <img src="/img/play_icon.svg" alt="">
                                </div>
                            </div>
                            <figcaption>
                                <h4 class="ct_fs_18 mb-1">Mental Health & Anxiety Relief</h4>
                                <h6 class="ct_text_374151 ct_fs_14 mb-0">25:30 mins</h6>
                            </figcaption>
                        </figure>

                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <figure class="ct_article_card  mb-0">
                            <div
                                class="position-relative ct_overlay_bg_black_44 ct_overlay_bg_black_44_after_radius_10">
                                <img src="/img/video_img_23.jpg" alt="">
                                <div class="ct_center_play_icon" data-bs-toggle="modal"
                                    data-bs-target="#ct_video_modal">
                                    <img src="/img/play_icon.svg" alt="">
                                </div>
                            </div>
                            <figcaption>
                                <h4 class="ct_fs_18 mb-1">Stress Management Basics</h4>
                                <h6 class="ct_text_374151 ct_fs_14 mb-0">15:22 mins</h6>
                            </figcaption>
                        </figure>

                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <figure class="ct_article_card  mb-0">
                            <div
                                class="position-relative ct_overlay_bg_black_44 ct_overlay_bg_black_44_after_radius_10">
                                <img src="/img/video_img_23.jpg" alt="">
                                <div class="ct_center_play_icon" data-bs-toggle="modal"
                                    data-bs-target="#ct_video_modal">
                                    <img src="/img/play_icon.svg" alt="">
                                </div>
                            </div>
                            <figcaption>
                                <h4 class="ct_fs_18 mb-1">Building Emotional Resilience</h4>
                                <h6 class="ct_text_374151 ct_fs_14 mb-0">25:30 mins</h6>
                            </figcaption>
                        </figure>

                    </div>


                </div>

            </div>

        </div>



    </div>
</div>

<!-- Modal -->
<div class="modal fade ct_upload_story_modal modal-lg" id="ct_video_modal" tabindex="-1"
    aria-labelledby="ct_video_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ct_gradient_bg">
            <div class="modal-header border-0" style="background: transparent">
                <!-- <h1 class="modal-title ct_fs_20 ct_fw_600 ct_bringle_text text-center" id="ct_story_view_modalLabel">Upload Story</h1> -->
                <button type="button" class="btn-close ct_close_btn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body pb-4">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/9xwazD5SyVg?si=iBpGkyqyowoMCIB9"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- ct_story_view_modal modal E -->