<ul class="ct_settings_lists">
    <div class="ct_setting_close">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <li>
        <a routerLink="/main/settings/rewards" [ngClass]="{ 'active': isActive('/main/settings/rewards') }">
            <img src="/img/reward_icon.svg" alt="">
            Rewards</a>
    </li>
    <li>
        <a routerLink="/main/settings/notification" [ngClass]="{ 'active': isActive('/main/settings/notification') }">
            <img src="/img/notification_icon_1.svg" alt="">
            Notifications</a>
    </li>
    <li>
        <a routerLink="/main/settings/account-privacy"
            [ngClass]="{ 'active': isActive('/main/settings/account-privacy') }">
            <img src="/img/account_privacy.svg" alt="">
            Account Privacy</a>
    </li>
    <li>
        <a routerLink="/main/settings/wishlist" [ngClass]="{ 'active': isActive('/main/settings/wishlist') }">
            <img src="/img/wishlist.svg" alt="">
            Wishlist</a>
    </li>
    <li>
        <a routerLink="/main/settings/apply-store" [ngClass]="{ 'active': isActive('/main/settings/apply-store') }">
            <img src="/img/apply_store.svg" alt="">
            Apply for Store</a>
    </li>
    <li>
        <a routerLink="/main/settings/my-store" [ngClass]="{ 'active': isActive('/main/settings/my-store') }">
            <img src="/img/apply_store.svg" alt="">
            My Store</a>
    </li>
    <li>
        <a routerLink="/main/settings/my-entries" [ngClass]="{ 'active': isActive('/main/settings/my-entries') }">
            <img src="/img/mt-entries.svg" alt="">
            My Entries</a>
    </li>
    <li>
        <a routerLink="/main/settings/hosted-contests"
            [ngClass]="{ 'active': isActive('/main/settings/hosted-contests') }">
            <img src="/img/hosted_content.svg" alt="">
            Hosted Contests</a>
    </li>
    <li>
        <a routerLink="/main/settings/blocked-accounts"
            [ngClass]="{ 'active': isActive('/main/settings/blocked-accounts') }">
            <img src="/img/block_account.svg" alt="">
            Blocked Accounts</a>
    </li>
    <li>
        <a routerLink="/main/settings/contact-support"
            [ngClass]="{ 'active': isActive('/main/settings/contact-support') }">
            <img src="/img/contact-support.svg" alt="">
            Contact Support</a>
    </li>
    <li>
        <a routerLink="/main/settings/privacyPolicies"
            [ngClass]="{ 'active': isActive('/main/settings/privacyPolicies') }">
            <img src="/img/privacy-policy.svg" alt="">
            Privacy Policy</a>
    </li>
    <li>
        <a routerLink="/main/settings/termsConditions"
            [ngClass]="{ 'active': isActive('/main/settings/termsConditions') }">
            <img src="/img/terms_condition.svg" alt="">
            Terms & Conditions</a>
    </li>
    <li>
        <a data-bs-toggle="modal" data-bs-target="#logout_modal">
            <img src="/img/log_out_icon.svg" alt="">
            Log Out</a>
    </li>
</ul>

<div class="modal fade" id="logout_modal" tabindex="-1" aria-labelledby="logout_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="ct_logout_modal_content_main">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center pb-5 mb-4">
                    <div class="ct_logout_modal_content">
                        <img src="assets/img/logout_vector.svg" alt="">
                        <div>
                            <h4 class="ct_fs_22 ct_fw_600 mb-3">Taking a Little Break?</h4>
                            <p class="ct_text_4B5563 ct_fs_18 mb-0">Your journey doesn’t end here. Continue inspiring
                                whenever you return.</p>
                        </div>
                        <div class="d-flex align-items-center gap-3 mt-5 justify-content-center ct_flex_col_575">
                            <button type="button" class="ct_bringle_btn ct_outline_bringle_btn ct_w_100_575"
                                data-bs-dismiss="modal" routerLink="/">Log me out</button>
                            <button type="button" class="ct_bringle_btn ct_w_100_575">Stay a Little Longer</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>