<ul class="ct_settings_lists">
    <div class="ct_setting_close">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <li>
        <a routerLink="/main/settings/rewards" [ngClass]="{ 'active': isActive('/main/settings/rewards') }">
            <img src="/img/reward_icon.svg" alt="">
            Rewards</a>
    </li>
    <li>
        <a routerLink="/main/settings/notification" [ngClass]="{ 'active': isActive('/main/settings/notification') }">
            <img src="/img/notification_icon_1.svg" alt="">
            Notifications</a>
    </li>
    <li>
        <a routerLink="/main/settings/account-privacy"
            [ngClass]="{ 'active': isActive('/main/settings/account-privacy') }">
            <img src="/img/account_privacy.svg" alt="">
            Account Privacy</a>
    </li>
    <li>
        <a routerLink="/main/settings/wishlist" [ngClass]="{ 'active': isActive('/main/settings/wishlist') }">
            <img src="/img/wishlist.svg" alt="">
            Wishlist</a>
    </li>
    <li>
        <a routerLink="/main/settings/apply-store" [ngClass]="{ 'active': isActive('/main/settings/apply-store') }">
            <img src="/img/apply_store.svg" alt="">
            Apply for Store</a>
    </li>
    <li>
        <a routerLink="/main/settings/my-store" [ngClass]="{ 'active': isActive('/main/settings/my-store') }">
            <img src="/img/apply_store.svg" alt="">
            My Store</a>
    </li>
    <li>
        <a routerLink="/main/settings/my-entries" [ngClass]="{ 'active': isActive('/main/settings/my-entries') }">
            <img src="/img/mt-entries.svg" alt="">
            My Entries</a>
    </li>
    <li>
        <a routerLink="/main/settings/hosted-contests"
            [ngClass]="{ 'active': isActive('/main/settings/hosted-contests') }">
            <img src="/img/hosted_content.svg" alt="">
            Hosted Contests</a>
    </li>
    <li>
        <a routerLink="/main/settings/blocked-accounts"
            [ngClass]="{ 'active': isActive('/main/settings/blocked-accounts') }">
            <img src="/img/block_account.svg" alt="">
            Blocked Accounts</a>
    </li>
    <li>
        <a routerLink="/main/settings/contact-support"
            [ngClass]="{ 'active': isActive('/main/settings/contact-support') }">
            <img src="/img/contact-support.svg" alt="">
            Contact Support</a>
    </li>
    <li>
        <a routerLink="/main/settings/privacyPolicies"
            [ngClass]="{ 'active': isActive('/main/settings/privacyPolicies') }">
            <img src="/img/privacy-policy.svg" alt="">
            Privacy Policy</a>
    </li>
    <li>
        <a routerLink="/main/settings/termsConditions"
            [ngClass]="{ 'active': isActive('/main/settings/termsConditions') }">
            <img src="/img/terms_condition.svg" alt="">
            Terms & Conditions</a>
    </li>
    <li>
        <a routerLink="/">
            <img src="/img/log_out_icon.svg" alt="">
            Log Out</a>
    </li>
</ul>