.upload-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.upload-btn {
  background-color: #ff7a00;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background-color: #e76e00;
  }
}
