<div class="ct_right_content_main">
    <div class="container-fluid">
        <div class="row">
            <app-header></app-header>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_575">
                    <h4 class="ct_fs_32 ct_fw_600 ct_bringle_text mb-0">Marketplace</h4>
                    <div class="ct_search position-relative ct_w_100_575" style="flex: none; width: 300px;">
                        <input type="text" class="form-control ct_input ct_input_ps_40 ct_h_50 ct_border_radius_40"
                            placeholder="Search">
                        <i class="fa-solid fa-search ct_input_icon_left"></i>
                    </div>
                </div>
            </div>

        </div>


        <div class="row ct_mt_30">
            <div class="col-md-12">
                <div class="ct_kitty_group_img ct_stor_banner_card">
                    <img src="/img/store_banner_1.png" alt="">
                    <!-- <a class="text-dark ct_fw_600">Shop Now <i
                            class="fa-solid fa-arrow-right"></i></a> -->
                </div>

            </div>

            <div class="col-md-12 ct_mt_55 pt-4">
                <div class="d-flex align-items-center gap-3 justify-content-between">
                    <h4 class="mb-0 ct_fs_26 ct_fw_600">Shop <span class="ct_bringle_text">the Latest</span> Products
                    </h4>
                    <a routerLink="/main/products-list" class="ct_bringle_text ct_fw_600">View All <i
                            class="fa-solid fa-angle-right"></i> </a>
                </div>

                <div class="row ct_mt_30">
                    <div class="col-lg-3 col-md-6 mb-4">
                        <a routerLink="/main/product-detail" class="ct_product_card mb-0 d-block text-dark">
                            <img src="/img/product_img_1.png" alt="">
                            <figcaption>
                                <h4 class="ct_fs_16 mb-1">Rosy Glints Earrings</h4>
                                <h6 class="ct_text_374151 ct_fs_14 mb-0">₹6567</h6>
                            </figcaption>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <a routerLink="/main/product-detail" class="ct_product_card mb-0 d-block text-dark">
                            <img src="/img/product_img_2.jpg" alt="">
                            <figcaption>
                                <h4 class="ct_fs_16 mb-1">Rosy Glints Earrings</h4>
                                <h6 class="ct_text_374151 ct_fs_14 mb-0">₹6567</h6>
                            </figcaption>

                        </a>

                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <a routerLink="/main/product-detail" class="ct_product_card mb-0 d-block text-dark">
                            <img src="/img/product_img_3.jpg" alt="">
                            <figcaption>
                                <h4 class="ct_fs_16 mb-1">Rosy Glints Earrings</h4>
                                <h6 class="ct_text_374151 ct_fs_14 mb-0">₹6567</h6>
                            </figcaption>

                        </a>

                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <a routerLink="/main/product-detail" class="ct_product_card mb-0 d-block text-dark">
                            <img src="/img/product_img_4.jpg" alt="">
                            <figcaption>
                                <h4 class="ct_fs_16 mb-1">Rosy Glints Earrings</h4>
                                <h6 class="ct_text_374151 ct_fs_14 mb-0">₹6567</h6>
                            </figcaption>

                        </a>

                    </div>

                </div>

            </div>

        </div>


        <div class="row ct_mt_30">


            <div class="col-md-12 ct_mt_55 pt-4">
                <div class="d-flex align-items-center gap-3 justify-content-between">
                    <h4 class="mb-0 ct_fs_26 ct_fw_600">Adorn <span class="ct_bringle_text"> Your Every </span> Moment
                    </h4>
                    <a routerLink="/main/stores-list" class="ct_bringle_text ct_fw_600">View Stores <i
                            class="fa-solid fa-angle-right"></i> </a>
                </div>

                <div class="row ct_mt_30">
                    <div class=" col-md-6">
                        <a routerLink="/main/store-detail" class="ct_adorn_card text-dark d-block">
                            <img src="/img/store_img_bg_12.jpg" alt="">
                            <figcaption class="text-center">
                                <h4 class="ct_fs_22 mb-1 ct_fw_600 text-white">Bags</h4>
                                <h6 class="text-white ct_fs_14 mb-0"><i>by Rina Jain</i></h6>
                                <div class="ct_white_bg ct_light_white_bg text-center p-3 ct_mt_20">
                                    <img src="/img/Adorn_logo_1.png" alt="" class="ct_img_w_69 ct_object_contain">
                                </div>
                            </figcaption>

                        </a>

                    </div>
                    <div class=" col-md-6">
                        <a  class="ct_adorn_card text-dark d-block">
                            <img src="/img/store_img_bg_13.jpg" alt="">
                            <figcaption class="text-center">
                                <h4 class="ct_fs_22 mb-1 ct_fw_600 text-white">Personal Care</h4>
                                <h6 class="text-white ct_fs_14 mb-0"><i>by Nisha Sharma</i></h6>
                                <div class="ct_white_bg ct_light_white_bg text-center p-3 ct_mt_20">
                                    <img src="/img/Adorn_logo_2.png" alt="" class="ct_img_w_69 ct_object_contain">
                                </div>
                            </figcaption>

                        </a>

                    </div>


                </div>

            </div>

        </div>



    </div>
</div>