<div class="d-flex align-items-center justify-content-between gap-3">
    <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-0"><a routerLink="/main/settings/view-contest"
            class="ct_bringle_text"><i class="fa-solid fa-angle-left me-2"></i></a>Contest Details</h4>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>
</div>

<div class="ct_mt_30">
    <div class="d-flex align-items-center justify-content-between gap-3">
        <div class="d-flex align-items-center gap-3">
            <img src="/img/user_1.png" alt="" class="ct_img_40 ct_white_border_1" />
            <div>
                <div>
                    <h5 class="ct_fs_18 ct_fw_600 mb-0">
                        Shreya Sharma
                    </h5>
                </div>
            </div>
        </div>
        <h4 class="mb-0 ct_fs_20 ct_fw_600 ct_bringle_text">128 Votes</h4>

    </div>
</div>

<div class="ct_mt_30">
    <p class="ct_fs_16 mb-3">Chocolate Cake Recipe</p>
    <div class="mb-2">
        <iframe width="100%" height="329" src="https://www.youtube.com/embed/9xwazD5SyVg" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen class="ct_border_radius_10">
        </iframe>
    </div>
    <p class="ct_para_scroll ct_custom_scroll ct_text_4B5563">A rich and moist chocolate cake with d ecadent chocolate
        ganache frosting. Perfect for celebrations!</p>
</div>