<div class="d-flex align-items-center justify-content-between gap-3">
    <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-0">Wishlist</h4>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>

</div>

<div class="row ct_mt_30">
    <div class="col-lg-3 col-md-6 mb-4">
        <a routerLink="/main/product-detail">
            <figure class="ct_product_card ct_product_card_all">
                <div class="position-relative">
                    <img src="/img/product_img_123.jpg" alt="" />
                    <div class="ct_like_heart">
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.3434 18.9801L8.84359 17.6148C3.51675 12.7844 0 9.58832 0 5.68886C0 2.49276 2.5031 0 5.68886 0C7.48861 0 9.21595 0.837814 10.3434 2.15142C11.4708 0.837814 13.1982 0 14.9979 0C18.1837 0 20.6868 2.49276 20.6868 5.68886C20.6868 9.58832 17.17 12.7844 11.8432 17.6148L10.3434 18.9801Z"
                                fill="url(#paint0_linear_870_57109)" />
                            <defs>
                                <linearGradient id="paint0_linear_870_57109" x1="0" y1="9.49005" x2="20.6868"
                                    y2="9.49005" gradientUnits="userSpaceOnUse">
                                    <stop offset="0.3125" stop-color="#DC9750" />
                                    <stop offset="1" stop-color="#58003F" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
                <figcaption>
                    <p class="ct_text_9B9B9B mb-1 ct_fs_14">Clothing</p>
                    <h4 class="ct_fs_20">Elegant Silk Saree</h4>
                    <h6 class="mb-0 ct_fs_18">₹3,499</h6>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <a routerLink="/main/product-detail">
            <figure class="ct_product_card ct_product_card_all">
                <div class="position-relative">
                    <img src="/img/product_img_124.jpg" alt="" />
                    <div class="ct_like_heart">
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.998 0.65332C17.8236 0.653394 20.033 2.85417 20.0332 5.68848C20.0332 7.42344 19.257 9.0543 17.7568 10.8896C16.2495 12.7337 14.0805 14.7041 11.4043 17.1309L11.4033 17.1318L10.3428 18.0957L9.2832 17.1318L9.28223 17.1309L7.37305 15.3916C5.56322 13.727 4.06027 12.2728 2.92969 10.8896C1.42952 9.0543 0.65332 7.42344 0.65332 5.68848C0.65352 2.85425 2.86304 0.65352 5.68848 0.65332C7.29074 0.65332 8.83975 1.4028 9.84766 2.57715L10.3438 3.1543L10.8389 2.57715C11.8468 1.4028 13.3958 0.65332 14.998 0.65332Z"
                                stroke="url(#paint0_linear_870_57121)" stroke-width="1.30653" />
                            <defs>
                                <linearGradient id="paint0_linear_870_57121" x1="0" y1="9.49005" x2="20.6868"
                                    y2="9.49005" gradientUnits="userSpaceOnUse">
                                    <stop offset="0.3125" stop-color="#DC9750" />
                                    <stop offset="1" stop-color="#58003F" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
                <figcaption>
                    <p class="ct_text_9B9B9B mb-1 ct_fs_14">Jewelry</p>
                    <h4 class="ct_fs_20">Pearl Stud Earrings</h4>
                    <h6 class="mb-0 ct_fs_18">₹1,200</h6>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <a routerLink="/main/product-detail">
            <figure class="ct_product_card ct_product_card_all">
                <div class="position-relative">
                    <img src="/img/product_img_125.jpg" alt="" />
                    <div class="ct_like_heart">
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.998 0.65332C17.8236 0.653394 20.033 2.85417 20.0332 5.68848C20.0332 7.42344 19.257 9.0543 17.7568 10.8896C16.2495 12.7337 14.0805 14.7041 11.4043 17.1309L11.4033 17.1318L10.3428 18.0957L9.2832 17.1318L9.28223 17.1309L7.37305 15.3916C5.56322 13.727 4.06027 12.2728 2.92969 10.8896C1.42952 9.0543 0.65332 7.42344 0.65332 5.68848C0.65352 2.85425 2.86304 0.65352 5.68848 0.65332C7.29074 0.65332 8.83975 1.4028 9.84766 2.57715L10.3438 3.1543L10.8389 2.57715C11.8468 1.4028 13.3958 0.65332 14.998 0.65332Z"
                                stroke="url(#paint0_linear_870_57121)" stroke-width="1.30653" />
                            <defs>
                                <linearGradient id="paint0_linear_870_57121" x1="0" y1="9.49005" x2="20.6868"
                                    y2="9.49005" gradientUnits="userSpaceOnUse">
                                    <stop offset="0.3125" stop-color="#DC9750" />
                                    <stop offset="1" stop-color="#58003F" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
                <figcaption>
                    <p class="ct_text_9B9B9B mb-1 ct_fs_14">Clothing</p>
                    <h4 class="ct_fs_20">Elegant Silk Saree</h4>
                    <h6 class="mb-0 ct_fs_18">₹3,499</h6>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <a routerLink="/main/product-detail">
            <figure class="ct_product_card ct_product_card_all">
                <div class="position-relative">
                    <img src="/img/product_img_126.jpg" alt="" />
                    <div class="ct_like_heart">
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.998 0.65332C17.8236 0.653394 20.033 2.85417 20.0332 5.68848C20.0332 7.42344 19.257 9.0543 17.7568 10.8896C16.2495 12.7337 14.0805 14.7041 11.4043 17.1309L11.4033 17.1318L10.3428 18.0957L9.2832 17.1318L9.28223 17.1309L7.37305 15.3916C5.56322 13.727 4.06027 12.2728 2.92969 10.8896C1.42952 9.0543 0.65332 7.42344 0.65332 5.68848C0.65352 2.85425 2.86304 0.65352 5.68848 0.65332C7.29074 0.65332 8.83975 1.4028 9.84766 2.57715L10.3438 3.1543L10.8389 2.57715C11.8468 1.4028 13.3958 0.65332 14.998 0.65332Z"
                                stroke="url(#paint0_linear_870_57121)" stroke-width="1.30653" />
                            <defs>
                                <linearGradient id="paint0_linear_870_57121" x1="0" y1="9.49005" x2="20.6868"
                                    y2="9.49005" gradientUnits="userSpaceOnUse">
                                    <stop offset="0.3125" stop-color="#DC9750" />
                                    <stop offset="1" stop-color="#58003F" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
                <figcaption>
                    <p class="ct_text_9B9B9B mb-1 ct_fs_14">Clothing</p>
                    <h4 class="ct_fs_20">Elegant Silk Saree</h4>
                    <h6 class="mb-0 ct_fs_18">₹3,499</h6>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <a routerLink="/main/product-detail">
            <figure class="ct_product_card ct_product_card_all">
                <div class="position-relative">
                    <img src="/img/product_img_123.jpg" alt="" />
                    <div class="ct_like_heart">
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.3434 18.9801L8.84359 17.6148C3.51675 12.7844 0 9.58832 0 5.68886C0 2.49276 2.5031 0 5.68886 0C7.48861 0 9.21595 0.837814 10.3434 2.15142C11.4708 0.837814 13.1982 0 14.9979 0C18.1837 0 20.6868 2.49276 20.6868 5.68886C20.6868 9.58832 17.17 12.7844 11.8432 17.6148L10.3434 18.9801Z"
                                fill="url(#paint0_linear_870_57109)" />
                            <defs>
                                <linearGradient id="paint0_linear_870_57109" x1="0" y1="9.49005" x2="20.6868"
                                    y2="9.49005" gradientUnits="userSpaceOnUse">
                                    <stop offset="0.3125" stop-color="#DC9750" />
                                    <stop offset="1" stop-color="#58003F" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
                <figcaption>
                    <p class="ct_text_9B9B9B mb-1 ct_fs_14">Clothing</p>
                    <h4 class="ct_fs_20">Elegant Silk Saree</h4>
                    <h6 class="mb-0 ct_fs_18">₹3,499</h6>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <a routerLink="/main/product-detail">
            <figure class="ct_product_card ct_product_card_all">
                <div class="position-relative">
                    <img src="/img/product_img_124.jpg" alt="" />
                    <div class="ct_like_heart">
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.998 0.65332C17.8236 0.653394 20.033 2.85417 20.0332 5.68848C20.0332 7.42344 19.257 9.0543 17.7568 10.8896C16.2495 12.7337 14.0805 14.7041 11.4043 17.1309L11.4033 17.1318L10.3428 18.0957L9.2832 17.1318L9.28223 17.1309L7.37305 15.3916C5.56322 13.727 4.06027 12.2728 2.92969 10.8896C1.42952 9.0543 0.65332 7.42344 0.65332 5.68848C0.65352 2.85425 2.86304 0.65352 5.68848 0.65332C7.29074 0.65332 8.83975 1.4028 9.84766 2.57715L10.3438 3.1543L10.8389 2.57715C11.8468 1.4028 13.3958 0.65332 14.998 0.65332Z"
                                stroke="url(#paint0_linear_870_57121)" stroke-width="1.30653" />
                            <defs>
                                <linearGradient id="paint0_linear_870_57121" x1="0" y1="9.49005" x2="20.6868"
                                    y2="9.49005" gradientUnits="userSpaceOnUse">
                                    <stop offset="0.3125" stop-color="#DC9750" />
                                    <stop offset="1" stop-color="#58003F" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
                <figcaption>
                    <p class="ct_text_9B9B9B mb-1 ct_fs_14">Jewelry</p>
                    <h4 class="ct_fs_20">Pearl Stud Earrings</h4>
                    <h6 class="mb-0 ct_fs_18">₹1,200</h6>
                </figcaption>
            </figure>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <a routerLink="/main/product-detail">
            <figure class="ct_product_card ct_product_card_all">
                <div class="position-relative">
                    <img src="/img/product_img_125.jpg" alt="" />
                    <div class="ct_like_heart">
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.998 0.65332C17.8236 0.653394 20.033 2.85417 20.0332 5.68848C20.0332 7.42344 19.257 9.0543 17.7568 10.8896C16.2495 12.7337 14.0805 14.7041 11.4043 17.1309L11.4033 17.1318L10.3428 18.0957L9.2832 17.1318L9.28223 17.1309L7.37305 15.3916C5.56322 13.727 4.06027 12.2728 2.92969 10.8896C1.42952 9.0543 0.65332 7.42344 0.65332 5.68848C0.65352 2.85425 2.86304 0.65352 5.68848 0.65332C7.29074 0.65332 8.83975 1.4028 9.84766 2.57715L10.3438 3.1543L10.8389 2.57715C11.8468 1.4028 13.3958 0.65332 14.998 0.65332Z"
                                stroke="url(#paint0_linear_870_57121)" stroke-width="1.30653" />
                            <defs>
                                <linearGradient id="paint0_linear_870_57121" x1="0" y1="9.49005" x2="20.6868"
                                    y2="9.49005" gradientUnits="userSpaceOnUse">
                                    <stop offset="0.3125" stop-color="#DC9750" />
                                    <stop offset="1" stop-color="#58003F" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
                <figcaption>
                    <p class="ct_text_9B9B9B mb-1 ct_fs_14">Clothing</p>
                    <h4 class="ct_fs_20">Elegant Silk Saree</h4>
                    <h6 class="mb-0 ct_fs_18">₹3,499</h6>
                </figcaption>
            </figure>
        </a>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <a routerLink="/main/product-detail">
            <figure class="ct_product_card ct_product_card_all">
                <div class="position-relative">
                    <img src="/img/product_img_126.jpg" alt="" />
                    <div class="ct_like_heart">
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.998 0.65332C17.8236 0.653394 20.033 2.85417 20.0332 5.68848C20.0332 7.42344 19.257 9.0543 17.7568 10.8896C16.2495 12.7337 14.0805 14.7041 11.4043 17.1309L11.4033 17.1318L10.3428 18.0957L9.2832 17.1318L9.28223 17.1309L7.37305 15.3916C5.56322 13.727 4.06027 12.2728 2.92969 10.8896C1.42952 9.0543 0.65332 7.42344 0.65332 5.68848C0.65352 2.85425 2.86304 0.65352 5.68848 0.65332C7.29074 0.65332 8.83975 1.4028 9.84766 2.57715L10.3438 3.1543L10.8389 2.57715C11.8468 1.4028 13.3958 0.65332 14.998 0.65332Z"
                                stroke="url(#paint0_linear_870_57121)" stroke-width="1.30653" />
                            <defs>
                                <linearGradient id="paint0_linear_870_57121" x1="0" y1="9.49005" x2="20.6868"
                                    y2="9.49005" gradientUnits="userSpaceOnUse">
                                    <stop offset="0.3125" stop-color="#DC9750" />
                                    <stop offset="1" stop-color="#58003F" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
                <figcaption>
                    <p class="ct_text_9B9B9B mb-1 ct_fs_14">Clothing</p>
                    <h4 class="ct_fs_20">Elegant Silk Saree</h4>
                    <h6 class="mb-0 ct_fs_18">₹3,499</h6>
                </figcaption>
            </figure>
        </a>
    </div>
</div>