<div class="col-md-12 ct_mb_30">
    <header class="ct_dash_header">
        <h4 class="ct_fs_32 ct_fw_600 ct_bringle_text mb-0"></h4>
        <div class="d-flex align-items-center gap-4">
            <div class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                <img src="/img/search-lg.svg" alt="" />
            </div>
            <div class="ct_header_icon active" routerLink="/main/chats">
                <img src="/img/mage_email.svg" alt="" />
            </div>
            <div class="ct_header_icon dropdown">
                <img src="/img/bell-03.svg" alt="" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false" />
                <div class="dropdown-menu ct_notification_dropdown" aria-labelledby="dropdownMenuButton1">
                    <div class="d-flex align-items-center justify-content-between gap-2 ct_mb_30">
                        <h4 class="mb-0 ct_fs_20 ct_fw_600">Notifications(4)</h4>
                        <p class="mb-0 ct_bringle_text ct_fs_14">Mark as read</p>

                    </div>

                    <div>
                        <h5 class="ct_fs_16 mb-2 ct_fw_600">New</h5>
                        <div>
                            <div class="d-flex align-items-start justify-content-between gap-2">
                                <div class="d-flex align-items-center  gap-2">
                                    <img src="/img/user_1.png" alt="" class="ct_img_44">
                                    <div>
                                        <p class="ct_fs_14 mb-1">Jake_Miller Started following you.</p>
                                        <small class="ct_fs_12">35 min ago</small>
                                    </div>
                                </div>
                                <button class="ct_bringle_btn ct_white_nowrap  py-1">Follow Back</button>

                            </div>
                            <div class="d-flex align-items-start justify-content-between gap-2 mt-4">
                                <div class="d-flex align-items-center  gap-2">
                                    <img src="/img/user_1.png" alt="" class="ct_img_44">
                                    <div>
                                        <p class="ct_fs_14 mb-1">Jake_Miller liked your reel. </p>
                                        <small class="ct_fs_12">6 hr ago</small>
                                    </div>
                                </div>
                                <div>
                                    <img src="/img/profile_1.jpg" alt="" class="ct_img_60">
                                </div>

                            </div>
                            <div class="d-flex align-items-start justify-content-between gap-2 mt-4">
                                <div class="d-flex align-items-center  gap-2">
                                    <img src="/img/user_1.png" alt="" class="ct_img_44">
                                    <div>
                                        <p class="ct_fs_14 mb-1">Jake_Miller Started following you.</p>
                                        <small class="ct_fs_12">35 min ago</small>
                                    </div>
                                </div>
                                <button class="ct_bringle_btn ct_white_nowrap  py-1">Pay Now</button>

                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h5 class="ct_fs_16 mb-2 ct_fw_600">Yesterday</h5>
                        <div>
                            <div class="d-flex align-items-start justify-content-between gap-2">
                                <div class="d-flex align-items-center  gap-2">
                                    <img src="/img/user_1.png" alt="" class="ct_img_44">
                                    <div>
                                        <p class="ct_fs_14 mb-1">Jake_Miller liked your reel. </p>
                                        <small class="ct_fs_12">6 hr ago</small>
                                    </div>
                                </div>
                                <div>
                                    <img src="/img/profile_1.jpg" alt="" class="ct_img_60">
                                </div>

                            </div>
                            <div class="d-flex align-items-start justify-content-between gap-2  mt-4">
                                <div class="d-flex align-items-center  gap-2">
                                    <img src="/img/user_1.png" alt="" class="ct_img_44">
                                    <div>
                                        <p class="ct_fs_14 mb-1">Jake_Miller Started following you.</p>
                                        <small class="ct_fs_12">35 min ago</small>
                                    </div>
                                </div>
                                <button class="ct_bringle_btn ct_outline_bringle_btn ct_white_nowrap  py-1">View
                                    Group</button>

                            </div>

                            <div class="d-flex align-items-start justify-content-between gap-2 mt-4">
                                <div class="d-flex align-items-center  gap-2">
                                    <img src="/img/user_1.png" alt="" class="ct_img_44">
                                    <div>
                                        <p class="ct_fs_14 mb-1">Jake_Miller Started following you.</p>
                                        <small class="ct_fs_12">35 min ago</small>
                                    </div>
                                </div>
                                <button
                                    class="ct_bringle_btn ct_outline_bringle_btn ct_white_nowrap  py-1">Following</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ct_toggle_bar">
                <i class="fa-solid fa-bars-staggered"></i>
            </div>
        </div>
    </header>
    <div class="collapse my-3" id="collapseExample">
        <div class="position-relative">
            <input type="search" placeholder="Search here" class="form-control ct_input ct_input_pe_40" />
            <i class="fa-solid fa-search ct_show_eye"></i>
        </div>
    </div>
</div>