/* @media screen and (min-width:1327px){
    .ct_login_overlay_content{
    width: 100%;
    padding:107px 90px ;
}
.ct_pt_55{
    padding-top: 55px;
}
.ct_mt_55{
    padding-top: 55px;
}
.ct_login_overlay_content h3{
    font-size: 49px !important;
}
.ct_login_overlay_content h4{
    font-size: 46px;
}

} */
@media screen and (max-width:1199px){
    .ct_login_overlay_content{
        padding: 80px 40px 40px;
    }
    /* .ct_login_left_img {

    height: calc(100vh - 295px);
    */
    .ct_profile_img2{
        max-width: 130px;
        height: 130px;
    }
.ct_profile_img2 > img{
    max-width: 130px;
    height: 130px;
}
.ct_settings_lists{
    border-right: 0px;
}
.ct_settings_lists{
    position: fixed;
    top: 0px;
    width: 300px;
    right: -100%;
    background-color: #fff;
    height: 100vh;
    overflow: hidden;
    padding:100px  30px;
    transition: 0.4s ease all;


}
.ct_settings_lists.show{
    right: 0px;
}
.ct_settings_lists li a{
    padding-inline: 20px;
}
.ct_setting_close{
    display: block;
}
.ct_setting_list_filter{
    display: block;
}
}


@media screen and (max-width:991px){
   .ct_right_content_main {
    margin-left: 0px;
    width: calc(100% - 0px);
}
.ct_sidebar{
    left: -100%;
}
.ct_right_content_main {
    padding-inline: 20px;
}
main.active .ct_sidebar {
    left: 0px;
    background-color: #fff;
}
.ct_toggle_bar{
    display: block;
}
.ct_flex_col_991{
    flex-direction: column;
    align-items: start !important;
}
.ct_w_100_991{
    width: 100%;
}
.ct_profile_img2 ,.ct_profile_img2 > img{
    max-width: 100px;
    height: 100px;
}
.ct_profile_main_card:before{
    height: 113px;
}
}
@media screen and (max-width:767px){
    .ct_px_60{
        padding-inline: 30px;
    }
    .ct_flex_col_767{
        flex-direction: column;
        align-items: start !important;
    }
    .ct_w_100_767{
        width: 100% !important;
        max-width: 100%;
    }
    .ct_listed_product_gallry{
        grid-template-columns: repeat(2,1fr);
    }

     .chat-icon {
  display: block;
  margin-right: 5px;
}
.chatlist {
  width: 100%;
}
.chatbox {
  width: 100%;
  position: absolute;
  left: 1000px;
  right: 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.5s ease;
  border-left: none;
}
.showbox {
  left: 0 !important;
  transition: all 0.5s ease;
  padding-inline: 15px;
}
.msg-head h3 {
  font-size: 14px;
}
.msg-head p {
  font-size: 12px;
}
.msg-head .flex-shrink-0 img {
  height: 30px;
}
.send-box button {
  width: 28%;
}

.chat-list h3 {
  font-size: 14px;
}
.chat-list p {
  font-size: 12px;
}
.msg-body ul li.sender {
  font-size: 13px;
  padding: 8px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.msg-body ul li.repaly p {
  font-size: 13px;
  padding: 8px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.msg-body ul li img {
  width: 30px;
  height: 30px;
}
.ct_white_bg{
    padding: 15px;
}
.ct_profile_main_card{
    padding-inline: 20px;
}
}
@media screen and (max-width:575px){
    .ct_px_60{
        padding-inline: 0px;
    }
    .ct_custom_tabs {
   flex-wrap: wrap;
    gap: 15px;
    border: 0px;
}
    .ct_notification_dropdown {
        width: 360px;
    }
    .ct_grid_3{
        grid-template-columns: repeat(2,1fr);
    }
    .ct_img_80,.ct_storyupload_video p {
        height: 60px;
        width: 60px !important;
    }
    .ct_story_video{
        width: 60px !important;
    }
    .ct_right_content_main {
        padding-inline: 0px;
    }
    .ct_flex_col_575{
        flex-direction: column;
        align-items: start !important;
    }
    .ct_w_100_575{
        width: 100% !important;
    }
    .ct_member_user_list li{
        flex-direction: column;
        align-items: start !important;
    }
    .ct_gift_img_overlay img {
   
    width: 139px;
   
}
}