<div class="ct_right_content_main">
    <div class="container-fluid">
        <div class="row">
            <app-header></app-header>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_767">
                    <h4 class="ct_fs_32 ct_fw_600 ct_bringle_text mb-0 ct_white_nowrap">
                        <a routerLink="/main/marketplace" class="ct_bringle_text"><i
                                class="fa-solid fa-angle-left me-1"></i></a>All Stores
                    </h4>
                    <div class="d-flex align-items-center gap-3 ct_w_100_767 ct_flex_col_767">
                        <div class="ct_search position-relative ct_w_100_767" style="flex: none; width: 300px">
                            <input type="text" class="form-control ct_input ct_input_ps_40 ct_h_50 ct_border_radius_40"
                                placeholder="Search" />
                            <i class="fa-solid fa-search ct_input_icon_left"></i>
                        </div>
                        <div class="form-group ct_w_100_767">
                            <button
                                class="ct_select_transparent px-5 ct_bringle_text ct_fw_600 ct_white_nowrap ct_w_100_767 ct_filter_btn">
                                Filter
                                <img src="/img/iconoir_filter.svg" alt="" class="ms-2" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ct_mt_30">
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 mb-4">
                <a routerLink="/main/store-detail">
                    <figure class="ct_adorn_card">
                        <img src="/img/store_img_bg_12.jpg" alt="">
                        <figcaption class="text-center">
                            <h4 class="ct_fs_22 mb-1 ct_fw_600 text-white">Bags</h4>
                            <h6 class="text-white ct_fs_14 mb-0"><i>by Rina Jain</i></h6>
                            <div class="ct_white_bg ct_light_white_bg text-center p-3 ct_mt_20">
                                <img src="/img/Adorn_logo_1.png" alt="" class="ct_img_w_69 ct_object_contain">
                            </div>
                        </figcaption>

                    </figure>

                </a>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 mb-4">
                <a routerLink="/main/store-detail">
                    <figure class="ct_adorn_card">
                        <img src="/img/store_img_bg_13.jpg" alt="">
                        <figcaption class="text-center">
                            <h4 class="ct_fs_22 mb-1 ct_fw_600 text-white">Personal Care</h4>
                            <h6 class="text-white ct_fs_14 mb-0"><i>by Nisha Sharma</i></h6>
                            <div class="ct_white_bg ct_light_white_bg text-center p-3 ct_mt_20">
                                <img src="/img/Adorn_logo_2.png" alt="" class="ct_img_w_69 ct_object_contain">
                            </div>
                        </figcaption>

                    </figure>
                </a>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 mb-4">
                <a routerLink="/main/store-detail">
                    <figure class="ct_adorn_card">
                        <img src="/img/store_img_bg_12.jpg" alt="">
                        <figcaption class="text-center">
                            <h4 class="ct_fs_22 mb-1 ct_fw_600 text-white">Bags</h4>
                            <h6 class="text-white ct_fs_14 mb-0"><i>by Rina Jain</i></h6>
                            <div class="ct_white_bg ct_light_white_bg text-center p-3 ct_mt_20">
                                <img src="/img/Adorn_logo_1.png" alt="" class="ct_img_w_69 ct_object_contain">
                            </div>
                        </figcaption>

                    </figure>

                </a>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 mb-4">
                <a routerLink="/main/store-detail">
                    <figure class="ct_adorn_card">
                        <img src="/img/store_img_bg_13.jpg" alt="">
                        <figcaption class="text-center">
                            <h4 class="ct_fs_22 mb-1 ct_fw_600 text-white">Personal Care</h4>
                            <h6 class="text-white ct_fs_14 mb-0"><i>by Nisha Sharma</i></h6>
                            <div class="ct_white_bg ct_light_white_bg text-center p-3 ct_mt_20">
                                <img src="/img/Adorn_logo_2.png" alt="" class="ct_img_w_69 ct_object_contain">
                            </div>
                        </figcaption>

                    </figure>
                </a>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 mb-4">
                <a >
                    <figure class="ct_adorn_card">
                        <img src="/img/store_img_bg_12.jpg" alt="">
                        <figcaption class="text-center">
                            <h4 class="ct_fs_22 mb-1 ct_fw_600 text-white">Bags</h4>
                            <h6 class="text-white ct_fs_14 mb-0"><i>by Rina Jain</i></h6>
                            <div class="ct_white_bg ct_light_white_bg text-center p-3 ct_mt_20">
                                <img src="/img/Adorn_logo_1.png" alt="" class="ct_img_w_69 ct_object_contain">
                            </div>
                        </figcaption>

                    </figure>

                </a>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 mb-4">
                <a >
                    <figure class="ct_adorn_card">
                        <img src="/img/store_img_bg_13.jpg" alt="">
                        <figcaption class="text-center">
                            <h4 class="ct_fs_22 mb-1 ct_fw_600 text-white">Personal Care</h4>
                            <h6 class="text-white ct_fs_14 mb-0"><i>by Nisha Sharma</i></h6>
                            <div class="ct_white_bg ct_light_white_bg text-center p-3 ct_mt_20">
                                <img src="/img/Adorn_logo_2.png" alt="" class="ct_img_w_69 ct_object_contain">
                            </div>
                        </figcaption>

                    </figure>
                </a>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 mb-4">
                <a >
                    <figure class="ct_adorn_card">
                        <img src="/img/store_img_bg_12.jpg" alt="">
                        <figcaption class="text-center">
                            <h4 class="ct_fs_22 mb-1 ct_fw_600 text-white">Bags</h4>
                            <h6 class="text-white ct_fs_14 mb-0"><i>by Rina Jain</i></h6>
                            <div class="ct_white_bg ct_light_white_bg text-center p-3 ct_mt_20">
                                <img src="/img/Adorn_logo_1.png" alt="" class="ct_img_w_69 ct_object_contain">
                            </div>
                        </figcaption>

                    </figure>

                </a>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 mb-4">
                <a >
                    <figure class="ct_adorn_card">
                        <img src="/img/store_img_bg_13.jpg" alt="">
                        <figcaption class="text-center">
                            <h4 class="ct_fs_22 mb-1 ct_fw_600 text-white">Personal Care</h4>
                            <h6 class="text-white ct_fs_14 mb-0"><i>by Nisha Sharma</i></h6>
                            <div class="ct_white_bg ct_light_white_bg text-center p-3 ct_mt_20">
                                <img src="/img/Adorn_logo_2.png" alt="" class="ct_img_w_69 ct_object_contain">
                            </div>
                        </figcaption>

                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Filter Modal S -->
<div class="ct_filter_sidebar ct_custom_scroll px-0">
    <div class="ct_close_filter d-block d-lg-none">
        <i class="fa-solid fa-xmark"></i>
    </div>

    <h5 class="ct_fs_20 ct_fw_600 mb-4 pb-4 ct_px_29">Filter Product</h5>
    <div class="ct_filter_scroll ct_custom_scroll ct_px_29">
        <div class="mt-4">
            <h5 class="ct_fs_16 mb-4">Category</h5>
            <ul>
                <li>
                    <div class="form-check ct_custom_check2 d-flex align-items-center gap-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label for="">Clothing</label>
                    </div>
                </li>
                <li class="mt-3">
                    <div class="form-check ct_custom_check2 d-flex align-items-center gap-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label for="">Jewelry</label>
                    </div>
                </li>
                <li class="mt-3">
                    <div class="form-check ct_custom_check2 d-flex align-items-center gap-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label for="">Beauty & Skincare</label>
                    </div>
                </li>
                <li class="mt-3">
                    <div class="form-check ct_custom_check2 d-flex align-items-center gap-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label for="">Home Décor</label>
                    </div>
                </li>
                <li class="mt-3">
                    <div class="form-check ct_custom_check2 d-flex align-items-center gap-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label for="">Wellness Products</label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ct_mt_30">
            <h5 class="ct_fs_16  mb-4">Sort By</h5>
            <ul>
                <li>
                    <div class="ct_radio-wrapper">
                        <label class="ct_radio-button">
                            <input id="option1" name="ct_radio-group" type="radio">
                            <span class="ct_radio-checkmark"></span>
                        </label>
                        <p class="mb-0">Newest First</p>
                    </div>
                </li>
                <li class="mt-3">
                    <div class="ct_radio-wrapper">
                        <label class="ct_radio-button">
                            <input id="option1" name="ct_radio-group" type="radio">
                            <span class="ct_radio-checkmark"></span>
                        </label>
                        <p class="mb-0">Popularity </p>
                    </div>
                </li>
                <li class="mt-3">
                    <div class="ct_radio-wrapper">
                        <label class="ct_radio-button">
                            <input id="option1" name="ct_radio-group" type="radio">
                            <span class="ct_radio-checkmark"></span>
                        </label>
                        <p class="mb-0">Price: Low to High</p>
                    </div>
                </li>
                <li class="mt-3">
                    <div class="ct_radio-wrapper">
                        <label class="ct_radio-button">
                            <input id="option1" name="ct_radio-group" type="radio">
                            <span class="ct_radio-checkmark"></span>
                        </label>
                        <p class="mb-0">Price: High to Low</p>
                    </div>
                </li>
            </ul>

        </div>
        <div class="ct_mt_30">
            <h5 class="ct_fs_16  mb-4">Price</h5>

            <div class="ct_range_wrapper">
                <div class="ct_slider_container">
                    <div class="ct_range_fill"></div>
                    <div class="ct_circle left"></div>
                    <div class="ct_circle right"></div>
                </div>
                <div class="ct_price_labels">
                    <span>₹100</span>
                    <span>Above ₹5000</span>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center gap-2 ct_mt_55 ct_px_29">
        <button class="ct_bringle_btn ct_outline_bringle_btn w-50 ct_white_nowrap">CLEAR ALL</button>
        <button class="ct_bringle_btn w-50  ct_white_nowrap">APPLY</button>

    </div>
</div>
<!-- Filter Modal E -->