<section class="ct_pt_55 pb-5 ">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="ct_px_60">
                <div class="ct_logo_img ct_mb_35">
                    <a>
                        <img src="/img/logo.png" alt="">
                    </a>

                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="ct_login_left_img">
                            <div class="ct_login_overlay_content">
                                <h4 class="ct_fs_32 ct_fw_600">Tell Us About Yourself</h4>
                                <p class="mb-0">Complete your profile so we can personalize your Star Nari experience.
                                </p>
                                <form action="otp-verification.html" class="ct_mt_30">
                                    <div class="form-group mb-4">
                                        <label for="" class="mb-2 ct_bringle_text d-block ct_fs_18 ct_fw_600">Full
                                            Name</label>
                                        <input type="number" class="form-control ct_input"
                                            placeholder="Enter your full name">
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="" class="mb-2 ct_bringle_text d-block ct_fs_18 ct_fw_600">Date of
                                            Birth</label>
                                        <input type="date" class="form-control ct_input">
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for=""
                                            class="mb-2 ct_bringle_text d-block ct_fs_18 ct_fw_600">Bio</label>
                                        <textarea type="date" class="form-control ct_input h-auto" rows="4"
                                            placeholder="Enter description here..."></textarea>
                                    </div>
                                    <div class="ct_mt_30">
                                        <a routerLink="/choose-intrest" type="submit"
                                            class="ct_light_gradient_btn w-100">Next</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-lg-block d-none">
                        <div class="ct_login_right_img">
                            <img src="/img/about_your_self_img.png" alt="" class="ct_object_contain">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>