<div class="d-flex align-items-start justify-content-between gap-3">
    <div>
        <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-1">Notifications</h4>
    </div>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>

</div>

<div
    class="d-flex align-items-center justify-content-between gap-3 ct_mt_30 ct_white_bg ct_light_white_bg p-3 ct_white_bg_light_10">
    <h4 class="ct_fs_22 mb-0">Turn on notifications</h4>
    <div>
        <label class="toggle-switch">
            <input type="checkbox">
            <div class="toggle-switch-background">
                <div class="toggle-switch-handle"></div>
            </div>
        </label>
    </div>
</div>

<div class="ct_mt_30">
    <p>Keep your notifications on to stay updated with every important activity in your store. From new product
        inquiries, chat messages, and profile updates to reminders about low stock – we’ll make sure you never miss out
        on what matters. You can turn them off anytime if you prefer a quieter experience.</p>

</div>