button.ct_capture_img_btn {
    border: 0px !important;
    background: transparent;
    width: 40px;
    height: 40px;
}

.ct_capture_img_btn img {
    width: 100%;
    height: 100%;
}

.ct_capture_img_btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.ct_take_selfie_img video {
    transform: rotateY(180deg);
    /* or scaleX(-1) */
}
