<div class="d-flex align-items-center justify-content-between gap-3">
    <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-0">Blocked Accounts</h4>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>

</div>


<div class="ct_mt_30">
    <ul class="ct_member_user_list">
        <li>
            <div class="d-flex align-items-center gap-3">
                <img src="/img/user_1.png" alt="" class="ct_img_62 ct_white_border_1" />
                <div>
                    <h5 class="ct_fs_14 ct_fw_600 mb-0">
                        Shreya Sharma
                    </h5>
                </div>
            </div>
            <div class="ct_w_100_575">
                <button class="ct_bringle_btn px-5 ct_h_40 ct_btn_w_164 ct_w_100_575">Unblock</button>
            </div>
        </li>
        <li>
            <div class="d-flex align-items-center gap-3">
                <img src="/img/user_1.png" alt="" class="ct_img_62 ct_white_border_1" />
                <div>
                    <h5 class="ct_fs_14 ct_fw_600 mb-0">
                        Shreya Sharma
                    </h5>
                </div>
            </div>
            <div class="ct_w_100_575">
                <button class="ct_bringle_btn px-5 ct_h_40 ct_btn_w_164 ct_w_100_575">Unblock</button>
            </div>
        </li>
        <li>
            <div class="d-flex align-items-center gap-3">
                <img src="/img/user_1.png" alt="" class="ct_img_62 ct_white_border_1" />
                <div>
                    <h5 class="ct_fs_14 ct_fw_600 mb-0">
                        Shreya Sharma
                    </h5>
                </div>
            </div>
            <div class="ct_w_100_575">
                <button class="ct_bringle_btn px-5 ct_h_40 ct_btn_w_164 ct_w_100_575">Unblock</button>
            </div>
        </li>
        <li>
            <div class="d-flex align-items-center gap-3">
                <img src="/img/user_1.png" alt="" class="ct_img_62 ct_white_border_1" />
                <div>
                    <h5 class="ct_fs_14 ct_fw_600 mb-0">
                        Shreya Sharma
                    </h5>
                </div>
            </div>
            <div class="ct_w_100_575">
                <button class="ct_bringle_btn px-5 ct_h_40 ct_btn_w_164 ct_w_100_575">Unblock</button>
            </div>
        </li>
        <li>
            <div class="d-flex align-items-center gap-3">
                <img src="/img/user_1.png" alt="" class="ct_img_62 ct_white_border_1" />
                <div>
                    <h5 class="ct_fs_14 ct_fw_600 mb-0">
                        Shreya Sharma
                    </h5>
                </div>
            </div>
            <div class="ct_w_100_575">
                <button class="ct_bringle_btn px-5 ct_h_40 ct_btn_w_164 ct_w_100_575">Unblock</button>
            </div>
        </li>
        <li>
            <div class="d-flex align-items-center gap-3">
                <img src="/img/user_1.png" alt="" class="ct_img_62 ct_white_border_1" />
                <div>
                    <h5 class="ct_fs_14 ct_fw_600 mb-0">
                        Shreya Sharma
                    </h5>
                </div>
            </div>
            <div class="ct_w_100_575">
                <button class="ct_bringle_btn px-5 ct_h_40 ct_btn_w_164 ct_w_100_575">Unblock</button>
            </div>
        </li>
    </ul>
</div>