    <div class="ct_story_video ct_storyupload_video" data-bs-target="#ct_upload_story" data-bs-toggle="modal">
        <p class="mb-0"><i class="fa-solid fa-plus"></i></p>
    </div>

<!-- upload story modal S -->
<div class="modal fade ct_upload_story_modal" id="ct_upload_story" tabindex="-1" aria-labelledby="ct_upload_storyLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="modal-title ct_fs_20 ct_fw_600 ct_bringle_text text-center" id="ct_upload_storyLabel">
                    Upload Story
                </h1>
                <button type="button" class="btn-close ct_close_btn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body pb-4">
                <div class="text-center ct_mt_30">
                    <img src="/img/upload_camera_icon.png" alt="" />
                    <div class="mt-4 mb-3">
                        <h4 class="ct_text_6B7280 ct_fs_18 text-center">
                            Drag photos and videos here
                        </h4>
                        <label for="ct_upload_img_story" class="mt-3">
                            <input type="file" class="d-none" id="ct_upload_img_story" />
                            <div class="ct_story_upload_btn">
                                <p class="mb-0">Select from computer</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- upload story modal E -->