<div class="d-flex align-items-start justify-content-between gap-3">
    <div>
        <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-1">Apply for Store</h4>
        <p class="ct_text_4B5563 mb-0">Turn your passion into a business. Fill in a few basic details and apply to
            create your very own store. Once approved, you’ll be ready to showcase your products and connect with
            customers who are waiting to discover you.</p>
    </div>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>

</div>
<form action="javascript:void(0)" class="ct_mt_30">
    <div class="form-group mb-4">
        <label for="" class="ct_fw_600 mb-2 d-block">Store Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control ct_input" placeholder="Enter store name">
    </div>
    <div class="form-group mb-4">
        <label for="" class="ct_fw_600 mb-2 d-block">Phone Number <span class="text-danger">*</span></label>
        <input type="number" class="form-control ct_input" placeholder="Enter phone number">
    </div>
    <div class="form-group mb-4">
        <label for="" class="ct_fw_600 mb-2 d-block">Email Address <span class="text-danger">*</span></label>
        <input type="email" class="form-control ct_input" placeholder="Enter email address">
    </div>
    <div class="form-group mb-4">
        <label for="" class="ct_fw_600 mb-2 d-block">Store Description <span class="text-danger">*</span></label>
        <textarea type="email" class="form-control ct_input h-auto" rows="4"
            placeholder="Enter store description here..."></textarea>
    </div>
    <div class="form-group mb-4">
        <label for="" class="mb-2 d-block ct_bringle_text ct_fw_600 ct_fs_18">Store Logo <span
                class="text-danger">*</span></label>
        <div class="ct_upload_product_main ct_upload_product_main_180">

            <p class="text-center ct_fs_18 ct_text_op_07 mb-0">
                Upload your image here
            </p>
            <label for="ct_upload_product">
                <input type="file" name="" id="ct_upload_product" class="d-none" />
                <div class="ct_browse_btn mt-3">
                    <span>Browse Files</span>
                </div>
            </label>
        </div>

        <div class="ct_single_uploaded_img mt-3 d-none">
            <img src="user_3.png" alt="" />
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
    <div class="mt-5 text-end">
        <button class="ct_bringle_btn" data-bs-toggle="modal" data-bs-target="#ct_entry_submitted">Submit
            Application</button>
    </div>
</form>