<div class="d-flex align-items-start justify-content-between gap-3">
    <div>
        <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-1">Account Privacy</h4>
    </div>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>

</div>

<div
    class="d-flex align-items-center justify-content-between gap-3 ct_mt_30 ct_white_bg ct_light_white_bg p-3 ct_white_bg_light_10">
    <h4 class="ct_fs_22 mb-0">Private Account</h4>
    <div>
        <label class="toggle-switch">
            <input type="checkbox">
            <div class="toggle-switch-background">
                <div class="toggle-switch-handle"></div>
            </div>
        </label>
    </div>
</div>

<div class="ct_mt_30">
    <p>Make your account private if you prefer more privacy. Only the people you allow will be able to see your profile
        and products. You’re always in control, and you can switch back to public anytime.</p>

</div>