.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.viewer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: calc(100vh - 150px);
  background: black;
  border-radius: 16px;
  overflow: hidden;
  z-index: 101;
  display: flex;
  flex-direction: column;
}

/* .viewer {
  position: relative;
  width: 360px;
  height: 640px;
  overflow: hidden;
  background: black;
  border-radius: 16px;
} */

.progress-bar-container {
  display: flex;
  gap: 3px;
  padding: 10px;
}

.progress-bar {
  flex: 1;
  height: 3px;
  background: rgba(255, 255, 255, 0.3);
}

.progress {
  height: 100%;
  background: white;
  transition: width 0.1s linear;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  color: white;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.story-content {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tap-zone {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 5;
}

.tap-zone.left {
  left: 0;
}

.tap-zone.right {
  right: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 22px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
}

.close-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}


.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
  z-index: 99;
}

.nav-btn:hover {
  background: white;
}

.nav-btn.left {
  left: 10px;
}

.nav-btn.right {
  right: 10px;
}

.comment-input {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100%;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  outline: none;

  font-size: 14px;
  z-index: 20;
  /* add this */
}

.comment-input input {
  outline: none;
  height: 40px;
  padding-right: 60px;
  background: rgba(255, 255, 255, 0.9);
}

.ct_send_chat_reply_btn_1 {
  height: 30px;
  right: 20px;
  border-radius: 100px;
  padding: 2px 15px;
}

.ct_border_radius_100 {
  border-radius: 100px;
}

.comment-input::placeholder {
  color: #555;
}

.story-content {
  user-select: none;
  /* disable text selection */
  -webkit-user-select: none;
  /* Safari */
  -webkit-touch-callout: none;
  /* disable long-press context menu on iOS */
}

.story-content img,
.story-content video {
  pointer-events: none;
  /* prevent triggering native hold behavior */
}