<div class="overlay" (click)="close.emit()"></div>

<div class="viewer">

  <div class="progress-bar-container">
    <div *ngFor="let media of currentUser.media; let j = index" class="progress-bar">
      <div class="progress" [style.width.%]="getProgress(j)"></div>
    </div>
  </div>

  <!-- Close Button -->
  <button class="close-btn" (click)="close.emit()">✕</button>

  <!-- User Info -->
  <div class="user-info">
    <img [src]="currentUser.profilePic" class="avatar" />
    <p>{{ currentUser.userName }}</p>
  </div>

  <!-- Story content -->
  <div class="story-content" (mousedown)="pause()" (mouseup)="resume()" (touchstart)="pause()" (touchend)="resume()">

    <!-- Tap zones (next/prev media) -->
    <div class="tap-zone left" [style.pointer-events]="isCommentFocused ? 'none' : 'auto'" (click)="prevMedia()">
    </div>

    <div class="tap-zone right" [style.pointer-events]="isCommentFocused ? 'none' : 'auto'" (click)="nextMedia()">
    </div>

    <ng-container *ngIf="currentMedia.type == 'image'">
      <img [src]="currentMedia.url" />
    </ng-container>

    <ng-container *ngIf="currentMedia.type == 'video'">
      <video #storyVideo [src]="currentMedia.url" autoplay muted playsinline></video>
    </ng-container>
  </div>

  <!-- Navigation arrows (next/prev user) -->
  <button class="nav-btn left" (click)="prevUser()">&#10094;</button>
  <button class="nav-btn right" (click)="nextUser()">&#10095;</button>

  <!-- Comment input -->
  <div class="position-relative comment-input">
    <input type="text" class="form-contol ct_input w-100 ct_border_radius_100" placeholder="Comment..."
      (focus)="onCommentFocus()" (blur)="onCommentBlur()" (click)="$event.stopPropagation()" />
    <button class="ct_bringle_btn ct_show_eye ct_send_chat_reply_btn_1 "><i
        class="fa-solid fa-paper-plane"></i></button>
  </div>

</div>