<div class="ct_white_bg">
    <div class="d-flex gap-2 justify-content-between">
        <div class="d-flex gap-2 w-100">
            <img src="/img/user_1.png" alt="" class="ct_img_40" />
            <textarea type="text" class="form-control bg-tranaprent border-0 ct_text_86898E"
                placeholder="Share something"></textarea>
        </div>
        <div>
            <img src="/img/emogi_icon.svg" alt="" />
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-between gap-3 mt-4 ct_flex_col_575">
        <ul class="d-flex align-items-center gap-2 gap-sm-4">
            <li class="">

                <div class="d-flex align-items-center gap-2" data-bs-target="#ct_create_new_post"
                    data-bs-toggle="modal">
                    <img src="/img/material-symbols_image-outline.png" alt="" />
                    <span>Image</span>
                </div>

            </li>
            <li class="d-flex align-items-center gap-2">
                <img src="/img/humbleicons_location.png" alt="" />
                <span>Location</span>
            </li>
            <li class="d-flex align-items-center gap-2">
                <img src="/img/material-symbols-light_globe.png" alt="" />
                <select class="form-control border-0 p-0">
                    <option value="">Public</option>
                    <option value="">Private</option>
                </select>
            </li>
        </ul>
        <div>
            <button type="button" class="ct_bringle_btn">
                Post
                <img src="/img/share_plan_icon.svg" alt="" class="ms-1" />
            </button>
        </div>
    </div>
</div>