<div class="d-flex align-items-start justify-content-between gap-3">
    <div>
        <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-0">My Store</h4>
    </div>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>

</div>

<div class="ct_my_store_card ct_mt_30">
    <img src="/img/my-store_img.png" alt="">
    <div class="ct_store_logo_overlay">
        <img src="/img/Group_1171276263.png" alt="">
    </div>
    <div class="ct_edit_store_btn">
        <a routerLink="/main/settings/apply-store">Edit Store</a>
    </div>
</div>


<div class="row ct_mt_55 pt-5">
    <div class="col-md-12 text-center">
        <h3 class="ct_fs_28 ct_fw_600  ct_bringle_text mb-2">Listed Products</h3>
        <img src="/img/decoration_line_img.svg" alt="" class="ct_decoration_line_img">
    </div>

    <div class="col-md-12 ct_mt_30">
        <div class="ct_listed_product_gallry ct_custom_scroll">
            <div class="ct_listed_prodt_img">
                <img src="/img/listed_img_11.png" alt="">
            </div>
            <div class="ct_listed_prodt_img">
                <img src="/img/listed_img_12.png" alt="">
            </div>
            <div class="ct_listed_prodt_img">
                <img src="/img/listed_img_13.png" alt="">
            </div>
            <div class="ct_listed_prodt_img">
                <img src="/img/listed_img_14.png" alt="">
            </div>
            <div class="ct_listed_prodt_img">
                <img src="/img/listed_img_15.png" alt="">
            </div>
            <div class="ct_listed_prodt_img">
                <img src="/img/listed_img_16.png" alt="">
            </div>
            <div class="ct_listed_prodt_img">
                <img src="/img/listed_img_17.jpg" alt="">
            </div>
            <div class="ct_listed_prodt_img">
                <img src="/img/listed_img_18.jpg" alt="">
            </div>
            <div class="ct_listed_prodt_img">
                <img src="/img/listed_img_19.jpg" alt="">
            </div>
            <div class="ct_listed_prodt_img">
                <img src="/img/listed_img_20.jpg" alt="">
            </div>
        </div>

    </div>

    <div class="mt-5 text-center">
        <a routerLink="/main/settings/manage-products" class="ct_bringle_btn ct_outline_bringle_btn px-5">Manage Products</a>
    </div>

</div>