<div class="d-flex align-items-start justify-content-between gap-3">
    <div>
        <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-0">View Product</h4>
    </div>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>

</div>
<div class="ct_mt_30">
    <h4 class="ct_fs_20 ct_fw_600 mb-2">Handmade Jewelry Set</h4>
    <p class="ct_text_op_05 ct_fs_14 mb-3">Jewelry & Ornaments</p>

    <h5 class="ct_bringle_text ct_fs_20 ct_fw_600">₹1,200</h5>

    <div class="mt-4">
        <h4 class="ct_fs_20 ct_fw_600 mb-2">Product Details</h4>
        <p class="mb-0 ct_para_scroll ct_custom_scroll ct_text_op_05">Elegant handcrafted jewelry set perfect for
            festive wear and special occasions. Features intricate traditional designs with modern appeal. Lightweight
            and skin-friendly materials ensure comfortable all- day wear. Each piece is carefully crafted by skilled
            artisans.</p>

    </div>

    <div class="ct_multiple_img_div ct_custom_scroll mt-4">
        <div class="ct_uploaded_img123 position-relative ">

            <div class="ct_uploaded_img_w">
                <img src="/img/product_img_1.png" alt="">
            </div>
        </div>
        <div class="ct_uploaded_img123 position-relative ">

            <div class="ct_uploaded_img_w">
                <img src="/img/product_img_1.png" alt="">
            </div>
        </div>
        <div class="ct_uploaded_img123 position-relative ">

            <div class="ct_uploaded_img_w">
                <img src="/img/product_img_1.png" alt="">
            </div>
        </div>
        <div class="ct_uploaded_img123 position-relative ">

            <div class="ct_uploaded_img_w">
                <img src="/img/product_img_1.png" alt="">
            </div>
        </div>
        <div class="ct_uploaded_img123 position-relative ">

            <div class="ct_uploaded_img_w">
                <img src="/img/product_img_1.png" alt="">
            </div>
        </div>
        <div class="ct_uploaded_img123 position-relative ">

            <div class="ct_uploaded_img_w">
                <img src="/img/product_img_1.png" alt="">
            </div>
        </div>

    </div>
</div>
<div class="mt-5 text-end d-flex align-items-center justify-content-end gap-3 ct_flex_col_575">
    <button class="ct_bringle_btn ct_outline_bringle_btn ct_w_100_575" data-bs-toggle="modal"
        data-bs-target="#delete_product">Delete Product</button>
    <a routerLink="/main/settings/add-product" class="ct_bringle_btn ct_w_100_575">Edit Product</a>
</div>