<div class="d-flex align-items-center justify-content-between gap-3">
    <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-0">Rewards</h4>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>

</div>

<div class="ct_white_bg ct_gift_img_overlay ct_mt_30">
    <img src="/img/gift_img_12.png" alt="">
    <p class="mb-2 ct_fs_18 ct_text_6A6A6A">Total Earned Points</p>
    <h4 class="ct_fs_44 ct_fw_600 mb-0">800</h4>

</div>

<div class="ct_mt_30">
    <h4 class="ct_fs_20 ct_fw_600 mb-3">How to Earn Points</h4>
    <div class="ct_white_bg p-3">
        <div>
            <ul>
                <li>
                    <div class="ct_earn_point_card" style="background-color: #10B9810D;">
                        <div class="d-flex align-items-center gap-3">
                            <div class="ct_point_icon" style="background-color: #10B9811A;">
                                <img src="/img/daily_login_icon.svg" alt="">
                            </div>
                            <div>
                                <h5 class="ct_fs_16 mb-1 ct_fw_600">Daily Login</h5>
                                <p class="mb-0 ct_fs_14" aria-colspan="ct_text_6B7280">Sign in every
                                    day</p>
                            </div>
                        </div>
                        <div>
                            <h5 class="ct_fs_16 ct_fw_600 mb-0" style="color: #10B981;">+10 pts</h5>
                        </div>

                    </div>
                </li>
                <li class="mt-3">
                    <div class="ct_earn_point_card" style="background-color: #6366F10D;">
                        <div class="d-flex align-items-center gap-3">
                            <div class="ct_point_icon" style="background-color: #6366F11A;">
                                <img src="/img/post_content_icon.svg" alt="">
                            </div>
                            <div>
                                <h5 class="ct_fs_16 mb-1 ct_fw_600">Post Content</h5>
                                <p class="mb-0 ct_fs_14" aria-colspan="ct_text_6B7280">Share
                                    valuable posts</p>
                            </div>
                        </div>
                        <div>
                            <h5 class="ct_fs_16 ct_fw_600 mb-0" style="color: #6366F1;">+25 pts</h5>
                        </div>

                    </div>
                </li>
                <li class="mt-3">
                    <div class="ct_earn_point_card" style="background-color: #F59E0B0D;">
                        <div class="d-flex align-items-center gap-3">
                            <div class="ct_point_icon" style="background-color: #F59E0B1A;">
                                <img src="/img/refer_a_friend_icon.svg" alt="">
                            </div>
                            <div>
                                <h5 class="ct_fs_16 mb-1 ct_fw_600">Refer a Friend</h5>
                                <p class="mb-0 ct_fs_14" aria-colspan="ct_text_6B7280">Invite new
                                    members</p>
                            </div>
                        </div>
                        <div>
                            <h5 class="ct_fs_16 ct_fw_600 mb-0" style="color: #F59E0B;">+100 pts
                            </h5>
                        </div>

                    </div>
                </li>
                <li class="mt-3">
                    <div class="ct_earn_point_card" style="background-color: #FAF5FF;">
                        <div class="d-flex align-items-center gap-3">
                            <div class="ct_point_icon" style="background-color: #F3E8FF;">
                                <img src="/img/refer_a_friend_icon.svg" alt="">
                            </div>
                            <div>
                                <h5 class="ct_fs_16 mb-1 ct_fw_600">Participate in Contest</h5>
                                <p class="mb-0 ct_fs_14" aria-colspan="ct_text_6B7280">Join
                                    competitions</p>
                            </div>
                        </div>
                        <div>
                            <h5 class="ct_fs_16 ct_fw_600 mb-0" style="color: #9333EA;">+50 pts</h5>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>