<div class="ct_right_content_main">
    <div class="container-fluid">
        <div class="row">
            <app-header></app-header>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_575">
                    <h4 class="ct_fs_32 ct_fw_600 ct_bringle_text mb-0">
                        <a (click)="backClicked()" class="ct_bringle_text"><i class="fa-solid fa-angle-left me-2"></i></a>
                        Articles
                    </h4>

                </div>
            </div>
        </div>

        <div class="row ct_mt_30">
            <div class="col-lg-4 col-md-6 mb-4">
                <figure class="ct_article_card mb-0">
                    <img src="/img/article_img_1.jpg" alt="">
                    <figcaption>
                        <a routerLink="/main/view-article">
                            <h4 class="ct_fs_18 mb-1">Evening Mindfulness Rituals for Better Sleep</h4>
                        </a>
                        <h6 class="ct_text_374151 ct_fs_14 mb-0">Lifestyle & wellness</h6>
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <figure class="ct_article_card mb-0">
                    <img src="/img/ct_article_card_2.jpg" alt="">
                    <figcaption>
                        <a routerLink="/main/view-article">
                            <h4 class="ct_fs_18 mb-1">Evening Mindfulness Rituals for Better Sleep</h4>
                        </a>
                        <h6 class="ct_text_374151 ct_fs_14 mb-0">Lifestyle & wellness</h6>
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <figure class="ct_article_card mb-0">
                    <img src="/img/ct_article_card_3.jpg" alt="">
                    <figcaption>
                        <a routerLink="/main/view-article">
                            <h4 class="ct_fs_18 mb-1">Evening Mindfulness Rituals for Better Sleep</h4>
                        </a>
                        <h6 class="ct_text_374151 ct_fs_14 mb-0">Lifestyle & wellness</h6>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <figure class="ct_article_card mb-0">
                    <img src="/img/article_img_1.jpg" alt="">
                    <figcaption>
                        <a routerLink="/main/view-article">
                            <h4 class="ct_fs_18 mb-1">Evening Mindfulness Rituals for Better Sleep</h4>
                        </a>
                        <h6 class="ct_text_374151 ct_fs_14 mb-0">Lifestyle & wellness</h6>
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <figure class="ct_article_card mb-0">
                    <img src="/img/ct_article_card_2.jpg" alt="">
                    <figcaption>
                        <a routerLink="/main/view-article">
                            <h4 class="ct_fs_18 mb-1">Evening Mindfulness Rituals for Better Sleep</h4>
                        </a>
                        <h6 class="ct_text_374151 ct_fs_14 mb-0">Lifestyle & wellness</h6>
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <figure class="ct_article_card mb-0">
                    <img src="/img/ct_article_card_3.jpg" alt="">
                    <figcaption>
                        <a routerLink="/main/view-article">
                            <h4 class="ct_fs_18 mb-1">Evening Mindfulness Rituals for Better Sleep</h4>
                        </a>
                        <h6 class="ct_text_374151 ct_fs_14 mb-0">Lifestyle & wellness</h6>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <figure class="ct_article_card mb-0">
                    <img src="/img/article_img_1.jpg" alt="">
                    <figcaption>
                        <a routerLink="/main/view-article">
                            <h4 class="ct_fs_18 mb-1">Evening Mindfulness Rituals for Better Sleep</h4>
                        </a>
                        <h6 class="ct_text_374151 ct_fs_14 mb-0">Lifestyle & wellness</h6>
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <figure class="ct_article_card mb-0">
                    <img src="/img/ct_article_card_2.jpg" alt="">
                    <figcaption>
                        <a routerLink="/main/view-article">
                            <h4 class="ct_fs_18 mb-1">Evening Mindfulness Rituals for Better Sleep</h4>
                        </a>
                        <h6 class="ct_text_374151 ct_fs_14 mb-0">Lifestyle & wellness</h6>
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <figure class="ct_article_card mb-0">
                    <img src="/img/ct_article_card_3.jpg" alt="">
                    <figcaption>
                        <a routerLink="/main/view-article">
                            <h4 class="ct_fs_18 mb-1">Evening Mindfulness Rituals for Better Sleep</h4>
                        </a>
                        <h6 class="ct_text_374151 ct_fs_14 mb-0">Lifestyle & wellness</h6>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>