<div class="d-flex align-items-start justify-content-between gap-3">
    <div>
        <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-1">Contact Support</h4>
        <p class="ct_text_4B5563 mb-0">Our support team is here to help. Please fill out the form below and we'll get
            back to you within 24 hours.</p>
    </div>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>

</div>
<form action="" class="ct_mt_30">
    <div class="form-group mb-4">
        <label for="" class="ct_fw_600 mb-2 d-block">Full Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control ct_input" placeholder="Enter full name">
    </div>
    <div class="form-group mb-4">
        <label for="" class="ct_fw_600 mb-2 d-block">Contact Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control ct_input" placeholder="Enter contact email">
    </div>
    <div class="form-group mb-4">
        <label for="" class="ct_fw_600 mb-2 d-block">Description <span class="text-danger">*</span></label>
        <textarea type="email" class="form-control ct_input h-auto" rows="4"
            placeholder="Enter description here..."></textarea>
    </div>
    <div class="mt-5 text-end">
        <button class="ct_bringle_btn">Submit Application</button>
    </div>
</form>