<div class="d-flex align-items-start justify-content-between gap-3">
    <div>
        <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-0">Add Product</h4>
    </div>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>

</div>
<form action="" class="ct_mt_30">
    <div class="form-group mb-4">
        <label for="" class="ct_fw_600 mb-2 d-block">Product Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control ct_input" placeholder="Enter product name">
    </div>
    <div class="form-group mb-4">
        <label for="" class="ct_fw_600 mb-2 d-block">Category <span class="text-danger">*</span></label>
        <select class="form-control ct_input">
            <option value="">Select Category</option>
        </select>
    </div>

    <div class="form-group mb-4">
        <label for="" class="ct_fw_600 mb-2 d-block">Product Description <span class="text-danger">*</span></label>
        <textarea type="email" class="form-control ct_input h-auto" rows="4"
            placeholder="Enter product description here..."></textarea>
    </div>
    <div class="form-group mb-4">
        <label for="" class="ct_fw_600 mb-2 d-block">Product Price <span class="text-danger">*</span></label>
        <div class="position-relative">
            <input type="text" class="form-control ct_input ct_input_ps_40" placeholder="Enter product price">
            <span class="ct_input_icon_left ct_fw_600">₹</span>
        </div>
    </div>

    <div class="form-group mb-4">
        <label for="" class="ct_fw_600 mb-2 d-block">Quantity <span class="text-danger">*</span></label>
        <div class="d-flex align-items-center gap-3">
            <button class="ct_quantity_btn">-</button>
            <input type="number" class="form-control ct_input text-center" style="width: 150px;" placeholder="0">
            <button class="ct_quantity_btn">+</button>

        </div>

    </div>
    <div class="form-group mb-4">
        <label for="" class="mb-2 d-block ct_bringle_text ct_fw_600 ct_fs_18">Product Photos (2/6) <span
                class="text-danger">*</span></label>
        <div class="ct_upload_product_main ct_upload_product_main_180">

            <p class="text-center ct_fs_18 ct_text_op_07 mb-0">
                Upload your image here
            </p>
            <label for="ct_upload_product">
                <input type="file" name="" id="ct_upload_product" class="d-none" />
                <div class="ct_browse_btn mt-3">
                    <span>Browse Files</span>
                </div>
            </label>
        </div>

        <div class="ct_multiple_img_div ct_custom_scroll d-none">
            <div class="ct_uploaded_img123 position-relative ">

                <div class="ct_uploaded_img_w">
                    <img src="/img/product_img_1.png" alt="">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="ct_uploaded_img123 position-relative ">

                <div class="ct_uploaded_img_w">
                    <img src="/img/product_img_1.png" alt="">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="ct_uploaded_img123 position-relative ">

                <div class="ct_uploaded_img_w">
                    <img src="/img/product_img_1.png" alt="">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="ct_uploaded_img123 position-relative ">

                <div class="ct_uploaded_img_w">
                    <img src="/img/product_img_1.png" alt="">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="ct_uploaded_img123 position-relative ">

                <div class="ct_uploaded_img_w">
                    <img src="/img/product_img_1.png" alt="">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="ct_uploaded_img123 position-relative ">

                <div class="ct_uploaded_img_w">
                    <img src="/img/product_img_1.png" alt="">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>

        </div>
    </div>
    <div class="mt-5 text-end d-flex align-items-center justify-content-end gap-3 ct_flex_col_575">
        <a class="ct_bringle_btn ct_outline_bringle_btn ct_w_100_575">Cancel</a>
        <button class="ct_bringle_btn ct_w_100_575">Save</button>
    </div>
</form>