/* You can add global styles to this file, and also import other style files */
.ct_text_red {
      color: rgb(180, 0, 0);
}

.ant-select-selection-search-input {
      height: 52px !important;
      border: none !important;
      background: transparent !important;
}

.ant-select-selector {
      background: transparent !important;
      border: none !important;
      box-shadow: none !important;
}

.ant-select-selection-placeholder {
      font-size: 16px !important;
      color: #666 !important;
      margin-top: 12px !important;
}

.ant-select-selection-item {
      margin-top: 12px !important;
      font-size: 16px !important;
}

.multi_select .ant-select-selection-item,
.multi_select .ant-select-selection-placeholder {
      font-size: 16px !important;
      margin-top: 0 !important;
}

.ant-select-selector {
      height: 100% !important;
}