<div class="ct_right_content_main">
    <div class="container-fluid">
        <div class="row">
             <app-header></app-header>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_575">
                    <h4 class="ct_fs_32 ct_fw_600 ct_bringle_text mb-0">
                        <a routerLink="/main/view-contest" class="ct_bringle_text"><i
                                class="fa-solid fa-angle-left me-2"></i></a>
                        Contests Details
                    </h4>

                </div>
            </div>
        </div>

        <div class="row ct_mt_30">
            <div class="col-md-12">
                <figure class="ct_kitty_group_profile_card">
                    <div class="ct_kitty_group_img ct_overlay_bg_black_44">
                        <img src="/img/contest_detail_bg.png" alt="" />
                        <div class="ct_conset_end_date_overlay">
                            <p class="ct_fs_20 text-white mb-1">Ends in</p>
                            <h4 class="mb-0 ct_fs_28 text-white ct_fw_600">2d 14h 32m</h4>
                        </div>
                    </div>
                    <figcaption class="ct_flex_col_767">
                        <div>
                            <h3 class=" ct_fs_30 mb-3 ct_fw_600 ct_bringle_text">
                                Creative Design Challenge
                            </h3>


                            <ul class="d-flex align-items-center gap-3">
                                <li class="d-flex align-items-center ">
                                    <img src="/img/famicons_time-outline.svg" alt="" class="me-2" />Voting ends in
                                    2 days
                                </li>

                            </ul>
                        </div>
                        <ul class="d-flex align-items-center gap-3">
                            <li class="d-flex align-items-center ">
                                <img src="/img/users_icon.svg" alt="" class="me-2" />Cast your vote now
                            </li>

                        </ul>

                    </figcaption>
                </figure>
            </div>

            <div>

            </div>
        </div>


        <div class="row ">
            <div class="col-md-12">
                <div>
                    <div class="ct_white_bg ct_light_white_bg mt-4
ct_white_bg ct_light_white_bg mt-4">
                        <div class="d-flex align-items-start gap-3 justify-content-between ct_flex_col_767">
                            <div class="d-flex align-items-start gap-4 ct_flex_col_767">
                                <div class="ct_w_100_767">
                                    <img src="/img/video_img.png" alt="" class="ct_img_h_154 ct_w_100_767">
                                </div>
                                <div>
                                    <div class="d-flex align-items-center gap-3 mb-2">
                                        <img src="/img/user_1.png" alt="" class="ct_img_40 ct_flex_shrink_0">
                                        <p class="mb-0">Sarah Johnson</p>
                                    </div>
                                    <h6 class="mb-2 ct_fs_18 ct_fw_600">Chocolate Cake Recipe</h6>
                                    <p class="mb-0 ct_para_scroll ct_custom_scroll">A rich and moist chocolate cake with
                                        decadent chocolate ganache frosting. Perfect for celebrations!</p>
                                </div>

                            </div>
                            <div class="ct_w_100_767">
                                <button class="ct_bringle_btn ct_outline_bringle_btn ct_white_nowrap ct_w_100_767"
                                    data-bs-toggle="modal" data-bs-target="#ct_vote_submitted">Vote Now</button>
                            </div>

                        </div>
                    </div>
                    <div class="ct_white_bg ct_light_white_bg mt-4
ct_white_bg ct_light_white_bg mt-4">
                        <div class="d-flex align-items-start gap-3 justify-content-between ct_flex_col_767">
                            <div class="d-flex align-items-start gap-4 ct_flex_col_767">
                                <div class="ct_w_100_767">
                                    <img src="/img/video_img.png" alt="" class="ct_img_h_154 ct_w_100_767">
                                </div>
                                <div>
                                    <div class="d-flex align-items-center gap-3 mb-2">
                                        <img src="/img/user_1.png" alt="" class="ct_img_40 ct_flex_shrink_0">
                                        <p class="mb-0">Sarah Johnson</p>
                                    </div>
                                    <h6 class="mb-2 ct_fs_18 ct_fw_600">Chocolate Cake Recipe</h6>
                                    <p class="mb-0 ct_para_scroll ct_custom_scroll">A rich and moist chocolate cake with
                                        decadent chocolate ganache frosting. Perfect for celebrations!</p>
                                </div>

                            </div>
                            <div class="ct_w_100_767">
                                <button class="ct_bringle_btn ct_outline_bringle_btn ct_white_nowrap ct_w_100_767"
                                    data-bs-toggle="modal" data-bs-target="#ct_vote_submitted">Vote Now</button>
                            </div>

                        </div>
                    </div>
                    <div class="ct_white_bg ct_light_white_bg mt-4
ct_white_bg ct_light_white_bg mt-4">
                        <div class="d-flex align-items-start gap-3 justify-content-between ct_flex_col_767">
                            <div class="d-flex align-items-start gap-4 ct_flex_col_767">
                                <div class="ct_w_100_767">
                                    <img src="/img/video_img.png" alt="" class="ct_img_h_154 ct_w_100_767">
                                </div>
                                <div>
                                    <div class="d-flex align-items-center gap-3 mb-2">
                                        <img src="/img/user_1.png" alt="" class="ct_img_40 ct_flex_shrink_0">
                                        <p class="mb-0">Sarah Johnson</p>
                                    </div>
                                    <h6 class="mb-2 ct_fs_18 ct_fw_600">Chocolate Cake Recipe</h6>
                                    <p class="mb-0 ct_para_scroll ct_custom_scroll">A rich and moist chocolate cake with
                                        decadent chocolate ganache frosting. Perfect for celebrations!</p>
                                </div>

                            </div>
                            <div class="ct_w_100_767">
                                <button class="ct_bringle_btn ct_outline_bringle_btn ct_white_nowrap ct_w_100_767"
                                    data-bs-toggle="modal" data-bs-target="#ct_vote_submitted">Vote Now</button>
                            </div>

                        </div>
                    </div>
                    <div class="ct_white_bg ct_light_white_bg mt-4
ct_white_bg ct_light_white_bg mt-4">
                        <div class="d-flex align-items-start gap-3 justify-content-between ct_flex_col_767">
                            <div class="d-flex align-items-start gap-4 ct_flex_col_767">
                                <div class="ct_w_100_767">
                                    <img src="/img/video_img.png" alt="" class="ct_img_h_154 ct_w_100_767">
                                </div>
                                <div>
                                    <div class="d-flex align-items-center gap-3 mb-2">
                                        <img src="/img/user_1.png" alt="" class="ct_img_40 ct_flex_shrink_0">
                                        <p class="mb-0">Sarah Johnson</p>
                                    </div>
                                    <h6 class="mb-2 ct_fs_18 ct_fw_600">Chocolate Cake Recipe</h6>
                                    <p class="mb-0 ct_para_scroll ct_custom_scroll">A rich and moist chocolate cake with
                                        decadent chocolate ganache frosting. Perfect for celebrations!</p>
                                </div>

                            </div>
                            <div class="ct_w_100_767">
                                <button class="ct_bringle_btn ct_outline_bringle_btn ct_white_nowrap ct_w_100_767"
                                    data-bs-toggle="modal" data-bs-target="#ct_vote_submitted">Vote Now</button>
                            </div>

                        </div>
                    </div>
                    <div class="ct_white_bg ct_light_white_bg mt-4
ct_white_bg ct_light_white_bg mt-4">
                        <div class="d-flex align-items-start gap-3 justify-content-between ct_flex_col_767">
                            <div class="d-flex align-items-start gap-4 ct_flex_col_767">
                                <div class="ct_w_100_767">
                                    <img src="/img/video_img.png" alt="" class="ct_img_h_154 ct_w_100_767">
                                </div>
                                <div>
                                    <div class="d-flex align-items-center gap-3 mb-2">
                                        <img src="/img/user_1.png" alt="" class="ct_img_40 ct_flex_shrink_0">
                                        <p class="mb-0">Sarah Johnson</p>
                                    </div>
                                    <h6 class="mb-2 ct_fs_18 ct_fw_600">Chocolate Cake Recipe</h6>
                                    <p class="mb-0 ct_para_scroll ct_custom_scroll">A rich and moist chocolate cake with
                                        decadent chocolate ganache frosting. Perfect for celebrations!</p>
                                </div>

                            </div>
                            <div class="ct_w_100_767">
                                <button class="ct_bringle_btn ct_outline_bringle_btn ct_white_nowrap ct_w_100_767"
                                    data-bs-toggle="modal" data-bs-target="#ct_vote_submitted">Vote Now</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- ct_vote_submitted -->
<div class="modal fade " id="ct_vote_submitted" tabindex="-1" aria-labelledby="ct_vote_submittedLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content ct_modal_bg_before">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-5 px-5">
                <div class="text-center">
                    <img src="/img/vote_icon.svg" alt="" class="d-block mb-3 mx-auto">
                    <h4 class="ct_fs_26 ct_fw_600">Vote Submitted!</h4>
                    <p class="mb-0">Thank you for casting your vote. Your support has been recorded.</p>
                </div>
            </div>

        </div>
    </div>
</div>