<div class="d-flex align-items-center justify-content-between gap-3">
    <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-0"><a routerLink="/main/settings/hosted-contests"
            class="ct_bringle_text"><i class="fa-solid fa-angle-left me-2"></i></a>Contest Details</h4>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>
</div>



<div class="ct_mt_30">
    <div class="ct_kitty_group_img ct_overlay_bg_black_44">
        <img src="/img/contest_details_bg_123.jpg" alt="" style="height: 173px;" />
        <div class="ct_conset_end_date_overlay_detail">
            <div class="position-relative ct_active_badge ">
                <span class="me-2"></span>Active

            </div>
            <div>
                <p class="ct_fs_14 text-white mb-1">Ends in</p>
                <h4 class="mb-0 ct_fs_18 text-white ct_fw_600">2d 14h 32m</h4>
            </div>
        </div>
        <div class="ct_hosted_title_btm_overlay">
            <h4 class="ct_fs_22 text-white mb-0">Creative Story Writing</h4>
        </div>
    </div>
</div>

<div class="ct_mt_30">
    <div class="d-flex align-items-center justify-content-between gap-3">
        <div class="d-flex align-items-center gap-3">
            <div class="ct_icon_48">
                <img src="/img/total_entirs_icon.svg" alt="">
            </div>
            <div>
                <h5 class="ct_fs_16 mb-1 ct_fw_600">Total Entries</h5>
                <p class="mb-0 ct_text_4B5563">24 entries</p>
            </div>
        </div>

        <h4 class="mb-0 ct_fs_20 ct_fw_600 ct_bringle_text">24</h4>

    </div>

    <div class="ct_mt_30">
        <ul class="ct_member_user_list">
            <li>
                <div class="d-flex align-items-center gap-3">
                    <img src="/img/user_1.png" alt="" class="ct_img_40 ct_white_border_1" />
                    <div>
                        <div>
                            <h5 class="ct_fs_14 ct_fw_600 mb-1">
                                Shreya Sharma
                            </h5>
                            <p class="mb-0 ct_fs_12">128 Votes</p>
                        </div>
                    </div>
                </div>
                <div class="ct_w_100_575">
                    <a routerLink="/main/settings/contest-entry-details"
                        class="ct_bringle_btn px-5 ct_h_40 ct_btn_w_164 ct_w_100_575">View</a>
                </div>
            </li>
            <li>
                <div class="d-flex align-items-center gap-3">
                    <img src="/img/user_1.png" alt="" class="ct_img_40 ct_white_border_1" />
                    <div>
                        <div>
                            <h5 class="ct_fs_14 ct_fw_600 mb-1">
                                Shreya Sharma
                            </h5>
                            <p class="mb-0 ct_fs_12">128 Votes</p>
                        </div>
                    </div>
                </div>
                <div class="ct_w_100_575">
                    <a 
                        class="ct_bringle_btn px-5 ct_h_40 ct_btn_w_164 ct_w_100_575">View</a>
                </div>
            </li>
            <li>
                <div class="d-flex align-items-center gap-3">
                    <img src="/img/user_1.png" alt="" class="ct_img_40 ct_white_border_1" />
                    <div>
                        <div>
                            <h5 class="ct_fs_14 ct_fw_600 mb-1">
                                Shreya Sharma
                            </h5>
                            <p class="mb-0 ct_fs_12">128 Votes</p>
                        </div>
                    </div>
                </div>
                <div class="ct_w_100_575">
                    <a 
                        class="ct_bringle_btn px-5 ct_h_40 ct_btn_w_164 ct_w_100_575">View</a>
                </div>
            </li>
            <li>
                <div class="d-flex align-items-center gap-3">
                    <img src="/img/user_1.png" alt="" class="ct_img_40 ct_white_border_1" />
                    <div>
                        <div>
                            <h5 class="ct_fs_14 ct_fw_600 mb-1">
                                Shreya Sharma
                            </h5>
                            <p class="mb-0 ct_fs_12">128 Votes</p>
                        </div>
                    </div>
                </div>
                <div class="ct_w_100_575">
                    <a 
                        class="ct_bringle_btn px-5 ct_h_40 ct_btn_w_164 ct_w_100_575">View</a>
                </div>
            </li>
            <li>
                <div class="d-flex align-items-center gap-3">
                    <img src="/img/user_1.png" alt="" class="ct_img_40 ct_white_border_1" />
                    <div>
                        <div>
                            <h5 class="ct_fs_14 ct_fw_600 mb-1">
                                Shreya Sharma
                            </h5>
                            <p class="mb-0 ct_fs_12">128 Votes</p>
                        </div>
                    </div>
                </div>
                <div class="ct_w_100_575">
                    <a 
                        class="ct_bringle_btn px-5 ct_h_40 ct_btn_w_164 ct_w_100_575">View</a>
                </div>
            </li>
            <li>
                <div class="d-flex align-items-center gap-3">
                    <img src="/img/user_1.png" alt="" class="ct_img_40 ct_white_border_1" />
                    <div>
                        <div>
                            <h5 class="ct_fs_14 ct_fw_600 mb-1">
                                Shreya Sharma
                            </h5>
                            <p class="mb-0 ct_fs_12">128 Votes</p>
                        </div>
                    </div>
                </div>
                <div class="ct_w_100_575">
                    <a 
                        class="ct_bringle_btn px-5 ct_h_40 ct_btn_w_164 ct_w_100_575">View</a>
                </div>
            </li>

        </ul>
    </div>
</div>