<div class="d-flex align-items-center justify-content-between gap-3">
    <h4 class="ct_fs_26 ct_fw_600 ct_bringle_text mb-0">Hosted Contests</h4>
    <div class="ct_setting_list_filter">
        <i class="fa-solid fa-list-ul"></i>
    </div>
</div>

<div class="ct_mt_30">
    <div>
        <ul>
            <li>
                <div class="d-flex align-items-center gap-3 justify-content-between ct_white_bg ct_flex_col_575">
                    <div class="d-flex align-items-center gap-3">
                        <div>
                            <img src="/img/entries__1.png" alt="">
                        </div>
                        <div>
                            <h5 class="ct_fs_16 mb-2 ct_fw_600 ct_bringle_text">Storytelling Reels Contest</h5>
                            <p class="mb-0 ct_fs_14"><i class="fa-regular fa-calendar ct_text_op_05 me-2"></i> 15 Sep –
                                25 Sep </p>
                            <p class="mb-0 ct_text_555 ct_fw_600 mt-1 ct_fs_14"><i
                                    class="fa-regular fa-file-lines me-2 ct_text_op_05"></i>24 Entries</p>
                        </div>
                    </div>
                    <div class="ct_w_100_575">
                        <a routerLink="/main/settings/view-contest"
                            class="ct_bringle_btn  d-block ct_white_nowrap ct_w_100_575">View Details</a>
                    </div>
                </div>
            </li>
            <li class="mt-3">
                <div class="d-flex align-items-center gap-3 justify-content-between ct_white_bg ct_flex_col_575">
                    <div class="d-flex align-items-center gap-3">
                        <div>
                            <img src="/img/entries__2.png" alt="">
                        </div>
                        <div>
                            <h5 class="ct_fs_16 mb-2 ct_fw_600 ct_bringle_text">Digital Art Sprint</h5>
                            <p class="mb-0 ct_fs_14"><i class="fa-regular fa-calendar ct_text_op_05 me-2"></i> 15 Sep –
                                25 Sep </p>
                            <p class="mb-0 ct_text_555 ct_fw_600 mt-1 ct_fs_14"><i
                                    class="fa-regular fa-file-lines me-2 ct_text_op_05"></i>24 Entries</p>
                        </div>
                    </div>
                    <div class="ct_w_100_575">
                        <a 
                            class="ct_bringle_btn  d-block  ct_white_nowrap ct_w_100_575">View Details</a>
                    </div>
                </div>
            </li>
            <li class="mt-3">
                <div class="d-flex align-items-center gap-3 justify-content-between ct_white_bg ct_flex_col_575">
                    <div class="d-flex align-items-center gap-3">
                        <div>
                            <img src="/img/entries__3.png" alt="">
                        </div>
                        <div>
                            <h5 class="ct_fs_16 mb-2 ct_fw_600 ct_bringle_text">Creative Cooking Challenge</h5>
                            <p class="mb-0 ct_fs_14"><i class="fa-regular fa-calendar ct_text_op_05 me-2"></i> 15 Sep –
                                25 Sep </p>
                            <p class="mb-0 ct_text_555 ct_fw_600 mt-1 ct_fs_14"><i
                                    class="fa-regular fa-file-lines me-2 ct_text_op_05"></i>24 Entries</p>
                        </div>
                    </div>
                    <div class="ct_w_100_575">
                        <a 
                            class="ct_bringle_btn ct_white_nowrap ct_w_100_575 d-block">View Details</a>
                    </div>
                </div>
            </li>



        </ul>
    </div>
</div>