<section class="ct_pt_55 pb-5 ">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="ct_px_60">
                <div class="ct_logo_img ct_mb_35">
                    <a>
                        <img src="/img/logo.png" alt="">
                    </a>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="ct_login_left_img">
                            <div class="ct_login_overlay_content">
                                <h4 class="ct_fs_32 ct_fw_600">Choose Your Interests</h4>
                                <p class="mb-0">Select topics that reflect you to get personalized content, groups, and
                                    opportunities.</p>
                                <form class="ct_mt_30">
                                    <div class="ct_grid_3">
                                        <div class="ct_your_interest_card" *ngFor="let item of data"
                                            (click)="toggleInterest(item)"
                                            [class.active]="selectedIds.includes(item.interest_id)">

                                            <div class="ct_interest_icon">
                                                <img [src]="item.image ? item.image : '/img/cooking_icon.svg'" alt="">
                                            </div>

                                            <h4 class="mb-0">{{ item?.name }}</h4>
                                        </div>

                                        <!-- <div class="ct_your_interest_card active">
                                            <div class="ct_interest_icon">
                                                <img src="/img/Fashion_icon.svg" alt="">

                                            </div>
                                            <h4 class="mb-0">Fashion</h4>
                                        </div>
                                        <div class="ct_your_interest_card">
                                            <div class="ct_interest_icon">
                                                <img src="/img/Travelling_icon.svg" alt="">

                                            </div>
                                            <h4 class="mb-0">Travelling</h4>
                                        </div>
                                        <div class="ct_your_interest_card">
                                            <div class="ct_interest_icon">
                                                <img src="/img/Vloggin_icon.svg" alt="">

                                            </div>
                                            <h4 class="mb-0">Vlogging</h4>
                                        </div>
                                        <div class="ct_your_interest_card">
                                            <div class="ct_interest_icon">
                                                <img src="/img/Teaching_icon.svg" alt="">

                                            </div>
                                            <h4 class="mb-0">Teaching</h4>
                                        </div>
                                        <div class="ct_your_interest_card active">
                                            <div class="ct_interest_icon">
                                                <img src="/img/Music_icon.svg" alt="">

                                            </div>
                                            <h4 class="mb-0">Music</h4>
                                        </div>
                                        <div class="ct_your_interest_card active">
                                            <div class="ct_interest_icon">
                                                <img src="/img/Fitness_icon.svg" alt="">

                                            </div>
                                            <h4 class="mb-0">Fitness</h4>
                                        </div>
                                        <div class="ct_your_interest_card">
                                            <div class="ct_interest_icon">
                                                <img src="/img/Shopping_icon.svg" alt="">

                                            </div>
                                            <h4 class="mb-0">Shopping</h4>
                                        </div>
                                        <div class="ct_your_interest_card ">
                                            <div class="ct_interest_icon">
                                                <img src="/img/Dancing_icon.svg" alt="">

                                            </div>
                                            <h4 class="mb-0">Dancing</h4>
                                        </div> -->

                                    </div>
                                    <div class="mt-5">
                                        <a (click)="onSubmit()" type="submit"
                                            class="ct_light_gradient_btn w-100">Complete
                                            Setup</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-lg-block d-none">
                        <div class="ct_login_right_img">
                            <img src="/img/about_your_self_img.png" alt="" class="ct_object_contain">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>